<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="tableform">
<form action="index.php?app=ome&ctl=admin_serial&act=search" id="formid" method="post">

<div class="division">
<h3>唯一码查询</h3>
<table>
    <tr>
        <td>
            <div style="position:relative">
                请录入商品唯一码：
                <input type="text" id="serial_number" name="serial_number" vtype="required" value="<{$serial_number}>" />
                <{button label="查询" type="submit" id="btn_search"}>
            </div>
        </td>
    </tr>
</table>

<{if $data}>
<h4>基本信息</h4>
<table class="gridlist" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>唯一码</th>
        <th>基础物料名称</th>
        <th>基础物料编码</th>
        <th>所在仓库</th>
        <th>状态</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td><{$data.serial_number}></td>
        <td><{$data.product_name}></td>
        <td><{$data.bn}></td>
        <td><{$data.branch_name}></td>
        <td><{$data.status}></td>
    </tr>
    </tbody>
</table>
<{else}>
	<{if $tag}>
		<div class="notice">没有查到对应的商品唯一码信息</div>
	<{/if}>
<{/if}>

<{if $logData}>
<h4>出入库日志</h4>
<table class="gridlist" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>操作类型</th>
        <th>申请售后</th>
        <th>操作时间</th>
        <th>操作人</th>
        <th>单据类型</th>
        <th>单据编号</th>
        <th>唯一码状态</th>
    </tr>
    </thead>

    <tbody>
    <{foreach from=$logData item=log}>
    <tr>
        <td><{$log.act_type}></td>
        <td><{foreach from=$log.orderBn item=orderBn key=key}>
            <{$orderBn}><a href="javascript:void(0);" onclick="new Dialog('index.php?ctl=admin_return&act=apply&app=ome&p[0]=<{$key}>',{width:700,height:450,title:'订单<{$orderBn}>的售后申请'});">申请</a><br />
        <{/foreach}></td>
        <td><{$log.act_time|date:"Y-m-d H:i"}></td>
        <td><{$log.act_owner}></td>
        <td><{$log.bill_type}></td>
        <td><{$log.bill_no}></td>
        <td><{$log.serial_status}></td>
    </tr>
    <{/foreach}>
    </tbody>
</table>
<{/if}>
</div>

</form>
</div>