/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

img {
    max-width: 100%;
    height: auto
}

img {
    display: inline-block;
    vertical-align: middle
}

a {
    color: #586C94;
    line-height: inherit;
    text-decoration: none
}

a:focus,a:hover {
    color: #4c5d7f
}

a img {
    border: none
}


h6 {
    font-size: .75rem
}


em,i {
    font-style: normal;
    line-height: inherit
}


.circle {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: circle;
    animation-name: circle;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@font-face {
    font-family: icons;
    src: url(../fonts/icons.woff?v=e3e1ce9a58) format("woff"),url(../fonts/icons.ttf?v=e3e1ce9a58) format("truetype"),url(../fonts/icons.svg?v=e3e1ce9a58#svg) format("svg");
    font-weight: 400;
    font-style: normal
}

.icon-arrow-back::before,.icon-arrow-down::before,.icon-arrow-forward::before,.icon-arrow-up::before,.icon-arrow-updown::before,.icon-barcode::before,.icon-cog::before,.icon-home::before,.icon-info::before,.icon-location::before,.icon-lock::before,.icon-man::before,.icon-order::before,.icon-package::before,.icon-panel::before,.icon-paper::before,.icon-password::before,.icon-refresh::before,.icon-replace::before,.icon-return::before,.icon-search::before,.icon-shop::before,.icon-spanner::before,.icon-spinner::before,.icon-trunk::before,.icon-user::before,.icon-woman::before,.icon::before {
    display: inline-block;
    min-width: 1em;
    vertical-align: 0;
    line-height: 1;
    font-family: icons;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    text-rendering: auto;
    speak: none
}

.icon-arrow-back::before {
    content: "⠁"
}

.icon-arrow-down::before {
    content: "⠂"
}

.icon-arrow-forward::before {
    content: "⠃"
}

.icon-arrow-up::before {
    content: "⠄"
}

.icon-arrow-updown::before {
    content: "⠅"
}

.icon-barcode::before {
    content: "⠆"
}

.icon-cog::before {
    content: "⠇"
}

.icon-home::before {
    content: "⠈"
}

.icon-info::before {
    content: "⠉"
}

.icon-location::before {
    content: "⠊"
}

.icon-lock::before {
    content: "⠋"
}

.icon-man::before {
    content: "⠌"
}

.icon-order::before {
    content: "⠍"
}

.icon-package::before {
    content: "⠎"
}

.icon-panel::before {
    content: "⠏"
}

.icon-paper::before {
    content: "⠐"
}

.icon-password::before {
    content: "⠑"
}

.icon-refresh::before {
    content: "⠒"
}

.icon-replace::before {
    content: "⠓"
}

.icon-return::before {
    content: "⠔"
}

.icon-search::before {
    content: "⠕"
}

.icon-shop::before {
    content: "⠖"
}

.icon-spanner::before {
    content: "⠗"
}

.icon-spinner::before {
    content: "⠘"
}

.icon-trunk::before {
    content: "⠙"
}

.icon-user::before {
    content: "⠚"
}

.icon-woman::before {
    content: "⠛"
}



.icon-bar {
    width: 100%;
    overflow: hidden;
    background-color: #333
}

.icon-bar>.item {
    float: left;
    margin: 0 auto;
    padding: .3125rem .125rem;
    text-align: center
}

.icon-bar>.item i,.icon-bar>.item img {
    display: block;
    margin: 0 auto
}

.icon-bar.vertical {
    width: auto;
    height: 100%
}

.icon-bar.vertical>.item {
    display: block;
    float: none;
    margin: auto;
    width: auto;
    padding: .125rem .3125rem
}

.icon-bar.vertical>.item i {
    width: 2.4375rem
}

.icon-bar>.item label {
    font-size: .75rem;
    color: #FFF
}

.icon-bar>.item i {
    vertical-align: middle;
    font-size: 1.5rem;
    line-height: 1.33333;
    color: #FFF
}

.icon-bar>.item img {
    height: 1.5rem;
    width: 1.5rem
}

.icon-bar>.item.active,.icon-bar>.item:hover {
    background: #1AAD19;
    color: #FFF
}

.icon-bar>.item.active label,.icon-bar>.item:hover label {
    color: #FFF
}

.icon-bar>.item.active i,.icon-bar>.item:hover i {
    color: #FFF
}

.icon-bar>.item.disabled {
    opacity: .7;
    pointer-events: none
}

.icon-bar>.item.disabled>* {
    opacity: .7
}

.icon-bar.reverse {
    background-color: #f8f8f8
}

.icon-bar.reverse>.item label {
    color: #333
}

.icon-bar.reverse>.item i {
    color: #333
}

.icon-bar.reverse>.item.active,.icon-bar.reverse>.item:hover {
    background-color: transparent
}

.icon-bar.reverse>.item.active label,.icon-bar.reverse>.item:hover label {
    color: #1AAD19
}

.icon-bar.reverse>.item.active i,.icon-bar.reverse>.item:hover i {
    color: #1AAD19
}

.icon-bar.two-up>.item {
    width: 50%
}

.icon-bar.three-up>.item {
    width: 33.333333%
}

.icon-bar.four-up>.item {
    width: 25%
}

.icon-bar.five-up>.item {
    width: 20%
}

.icon-bar.six-up>.item {
    width: 16.666667%
}

.bottom .icon-bar.reverse,.icon-bar.reverse.bottom {
    border-top: 1px solid #ebebeb
}

.icon-bar.reverse.top,.top .icon-bar.reverse {
    border-bottom: 1px solid #ebebeb
}

.icon-bar.reverse.left,.left .icon-bar.reverse {
    border-right: 1px solid #ebebeb
}

.icon-bar.reverse.right,.right .icon-bar.reverse {
    border-left: 1px solid #ebebeb
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1009
}

.sticky.sticking {
    box-shadow: 0 0 1px 1px rgba(0,0,0,.05)
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1009
}

.fixed.bottom {
    bottom: 0;
    top: auto
}

.fixed.bottom .btn.flat,.fixed.bottom button.flat {
    margin-bottom: 0
}