/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.login-layer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.login-layer form {
    margin-bottom: 0;
}

.login-layer ul {
    margin-bottom: 0;
}

.login-layer .form-row [class^=icon-] {
    font-size: 24px;
    color: #aaa;
    position: absolute;
    margin-left: 5px;
    line-height: 44px;
}

.login-layer .form-row input {
    padding-left: 30px;
}

.login-layer .logo {
    width: 35%;
    margin: 0 auto 30px;
}

.footer {
    font-size: inherit;
}

.footer p {
    font-size: 90%;
    margin-bottom: 0;
}

.person {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 0.875rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
}

.person .grid-2 {
    min-width: 55px;
}

.person .avatar {
    border: 1px solid #eee;
    border-radius: 1000px;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.person .avatar img {
    height: 100%;
    display: block;
    border-radius: 1000px;
}

.actions {
    text-align: center;
}

.actions li a {
    display: block;
}

.actions li i {
    display: inline-block;
    font-size: 40px;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.actions li i .badge {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}

.actions li span {
    display: block;
}

.action-bar {
    margin: 30px 1rem 0;
}

.grid-table .td {
    text-align: center;
    white-space: nowrap;
}

.grid-table .title {
    display: -webkit-box;
    word-wrap: break-word;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.order-item .row {
    line-height: 2;
}

.order-item .row .text-reverse {
    display: inline-block;
    width: 60px;
    text-align: justify;
    text-align-last: justify;
}

.order-item .grid-table {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.order-item .actions {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    margin: 10px 0 5px;
}

.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px 0;
    background: url(../img/spinner.svg) no-repeat;
    background-size: contain;
    font-size: 0;
    vertical-align: middle;
}

.order-confirm-form {
    padding-top: 30px;
    border-bottom: 1px solid #ddd;
}

.order-confirm-form .prefix {
    width: 44px;
    color: #666;
}

h2.title {
    margin: 30px 1rem 10px;
    line-height: 1.8;
}

h2.title.aline {
    margin-left: 0;
    margin-right: 0;
    padding: 0 1rem 10px;
    border-bottom: 1px solid #ddd;
}

.pagebox { margin:10px 0px; width:100%; }
.page_list { float:left; position:relative; width:33%; text-align:center; }
.new_select { height: 30px; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; z-index: 10; font-size:16px; line-height: 120%; }

.page_box .page_pre { float:left; width:32%; text-align:center; overflow:hidden; border:1px solid #d6d6d6;}
.page_box .page_next { float:left; width:32%; text-align:center; overflow:hidden; border:1px solid #d6d6d6;}
.page_box .pager { margin:0px auto; max-width:300px; height:auto; height:32px;line-height:32px; }
.page_box .pager a.nopre { color: #AEAEAE; }
.page_box .page_list { background: -moz-linear-gradient(center top , #F7F7F7, #EFEFEF) repeat scroll 0 0 transparent;border-top: 1px solid #D6D6D6;border-bottom: 1px solid #D6D6D6;height:34px;line-height:34px;}
.page_box .page_list span {color: #545353;}

.grid-table .item_bn { text-align:left; padding-left:5px; }
.grid-table .item_name { overflow:hidden; white-space:normal;text-align:left; }

.person { margin-bottom:2px; }

.statistic { display:block;  width:100%; }
.statistic .stat_line { border-bottom: 1px solid #ddd; padding:5px 0px; }
.statistic .stat_line ul { }
.statistic .stat_line li a { display:block; width:100%; }
.statistic .stat_line li span { display:block; width:100%; height:20px; }
.statistic .stat_line li em { display:block; width:1px; margin-top:6px; height:25px; background:#ccc; }

.split-line{background-color:#f0f0f0; width:100%; height:15px; border-bottom: 1px solid #ddd;}
.split-line.has-top{border-top: 1px solid #ddd;}

.mine .table-list::after{height:0;}