/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

:root {
    --header-bar-height: 56px;
}

.logo {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 160px;
    height: 70px;
    overflow: hidden;
    padding: 7px;
    box-sizing: border-box;
    align-items: center;
    z-index: 199;
    background: #FFFFFF;
}
.logo img {
    max-height: 35px;
    max-width: 100%;
    height: auto;
}
#body {
    overflow: unset;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    height: var(--header-bar-height);
    background: #67757C;
    box-shadow: 0px 1px 0px 0px #D9DFE8;
    width: calc(100% - 160px);
    margin-left: 160px;
}

#header .header-left {
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

#header .header-left .header-crumbs span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-right: 18px;
    cursor: pointer;
}

#header .header-left .header-crumbs span i {
    margin-right: 4px;
}

#header .header-left .header-crumbs .header-crumbs-item {
    position: relative;
    padding-right: 12px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

#header .header-left .header-crumbs span.header-crumbs-item {
    cursor: default;
}

#header .header-left .header-crumbs .header-crumbs-item::before {
    content: '';
    height: 5px;
    width: 5px;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transform: rotate(45deg);
    position: absolute;
    right: -3px;
    top: 8px;
}
#header .header-left .header-crumbs .header-crumbs-item:last-child::before {
    display: none;
}

#header .header-right {
    padding-right: 20px;
    display: flex;
    align-items: center;
    height: 100%;
}
#header .header-right .right-icon-menu {
    color: #ffffff;
    font-size: 14px;
    margin-left: 28px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

#header .header-right .right-icon-menu a {
    color: #ffffff;
    line-height: 1;
}

#header .header-right .right-icon-menu .icon-tips {
    position: absolute;
    right: -6px;
    top: -6px;
    padding: 1px;
    color: #ffffff;
    background: red;
    text-align: center;
    line-height: 1;
    border-radius: 4px;
    font-size: 12px;
}

#header .header-right .right-icon-menu.auth > span,
#header .header-right .right-icon-menu.unauth > span {
    display: none;
}

#header .header-right .right-icon-menu.auth .right-arrow-icon,
#header .header-right .right-icon-menu.unauth .right-arrow-icon {
    width: 0;
    height: 0;
    border-radius: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #1F263B #1F263B transparent transparent;
    transform: rotate(45deg);
    margin-bottom: 2px;
}

#header .header-right .right-icon-menu.auth:hover > span,
#header .header-right .right-icon-menu.unauth:hover > span {
    display: block;
}

#header .header-right .right-icon-menu.unauth:hover,
#header .header-right .right-icon-menu.auth:hover {
    color: #1F263B;
    background: linear-gradient(270deg, #FFF6E8 0%, #EBD8C4 100%);
    border-radius: 10px;
    padding-right: 5px;
    font-size: 12px;
    padding-top: 2px;
}

#header .header-right .quick-menu {
    padding-right: 13px;
}

#header .header-right .quick-menu:after {
    content: '';
    width: 6px;
    height: 6px;
    background: transparent;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(135deg);
    position: absolute;
    right: 0;
    top: 6px;
}

#header .header-right .user-nickname {
    font-size: 12px;
    position: relative;
    height: 100%;
}
#header .header-right .user-nickname:hover .user-account-drop {
    display: block;
}

#header .header-right .user-nickname .user-account-drop {
    display: none;
    position: absolute;
    top: calc(100% - 10px);
    background: #FFFFFF;
    /* padding: 20px; */
    box-shadow: 0 0 1px 1px #f0f0f0;
    height: auto;
    width: 100px;
    right: -10%;
    border-radius: 2px;
}

#header .header-right .user-nickname .user-account-drop a {
    color: #333;
    display: block;
    padding: 14px;
    text-align: center;
    font-size: 12px;
}
#header .header-right .user-nickname .user-account-drop a:hover {
    color: #157FE3;
}
#header .header-right .user-nickname .icon-avatar {
    olor: #ffffff;
    background: #449aca;
    border-radius: 50%;
    margin-right: 4px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.quick-drawer {
    position: fixed;
    right: -550px;
    top: var(--header-bar-height);
    transition: right .3s;
    width: 500px;
    height: calc(100% - var(--header-bar-height));
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1000);
    z-index: 1000;
    padding: 0 24px;
}

.quick-drawer .quick-drawer-header {
    padding: 10px 0;
    border-bottom: 1px solid #DFE7F3;
    display: flex;
    justify-content: space-between;
}

.quick-drawer h3 {
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: #111111;
    line-height: 22px;
    padding-left: 10px;
    position: relative;
}

.quick-drawer i {
    color: #4E5969;
}

.quick-drawer h3::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #3D4355;
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
}

.quick-drawer .quick-menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.quick-drawer .quick-menu-list a {
    line-height: 36px;
    border-radius: 2px;
    display: block;
    color: #67757C;
    outline: none;
    text-decoration: none;
    padding: 0 32px;
    margin-bottom: 12px;
}

.quick-drawer .quick-menu-list a:hover {
    background: #F2F4F8;
    color: #157FE3;
}
