/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

#workground {
    z-index: 0;
}
#side {
    display: flex;
    box-shadow: 1px 0 10px 0px #d9dfe8;
}

#side .side-inner {
    display: none;
}

#side .head-nav {
    width: var(--sidebar-width);
    background: #FFFFFF;
    overflow-y: auto!important;
    overflow-x: hidden!important;
    z-index: 2000000;
    box-sizing: border-box;
    padding: 45px 0 25px 0;
}

#side .head-nav ul {
    width: 100%;
    height: 40px;
    position: relative;
}

#side .head-nav ul li {
    list-style: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 15px 0 22px;
    position: relative;
    color: #3F4D69;
}

#side .head-nav ul li span {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    padding: 0 8px 0 2px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
}

#side .head-nav ul li i {
    font-size: 14px;
    margin-right: 5px;
}

#side .head-nav ul li::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: transparent;
    border-top: 1px solid #4E5969;
    border-right: 1px solid #4E5969;
    transform: rotate(45deg);
    position: absolute;
    right: 12px;
    top: 18px;
}

#side .head-nav ul li:hover {
    background: #F2F4F8;
    color: #157FE3;
}

#side .head-nav ul li:hover span {
    color: #157FE3;
}

#side .side-current {
    color: #157FE3!important;
    background: #F2F4F8!important;
    font-weight: 600!important;
}

#side .head-nav ul li.side-current::after {
    border-color: #157FE3;
}

.side-expand {
    position: fixed;
    top: var(--header-bar-height);
    left: calc(var(--sidebar-width) + 2px);
    background: #FFFFFF;
    width: 100%;
    height: calc(100% - var(--header-bar-height));
    z-index: 999999;
    box-sizing: border-box;
    padding: 20px 0;
    display: none;
    flex-direction: row;
}

.side-expand .side-expand-column h3 {
    font-size: 14px;
    color: #333333;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 35px;
    position: relative;
}

.side-expand .side-expand-column h3::before {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    background: #000000;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 5px;
}

.side-expand .side-expand-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    border-right: 1px solid #f3f3f3;
    align-items: center;
}

.side-expand .side-expand-column:last-child {
    border-right: 0;
}

.side-expand .side-expand-column ul:last-child {
    margin-bottom: 0;
}

.side-expand .side-expand-column ul,
.side-expand .side-expand-column ul li{
    width: 100%;
}

.side-expand .side-expand-column ul li {
    box-sizing: border-box;
    padding: 0 20px;
}

.side-expand .side-expand-column ul li a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: left;
    box-sizing: border-box;
    padding: 0 15px;
}

.side-expand .side-expand-column ul li a:hover {
    color: #157FE3;
    background: #F2F4F8;
}


#container .side-r {
    position: fixed;
    right: 0;
    left: unset;
    z-index: 65500;
    overflow: hidden;
    background: #FFFFFF;
    box-sizing: border-box;
    width: 350px !important;
    height: 100%;
    box-shadow: 0 0 4px 1px #e5e5e5;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.side-r .side-r-contanier {
    flex: 1;
    overflow: auto;
    padding: 20px 20px 60px 20px;
    box-sizing: border-box;
}

.side-r .side-r-contanier .side-r-content {
    height: calc(100% - 100px);
}

.side-r .side-r-foot {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #F2F2F2;
    background: #ffffff;
    z-index: 999999;
    box-shadow: 0 -2px 4px 0px #ececec;
}

.side-r .side-r-foot .table-action {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.side-r .side-r-foot .table-action button:last-child {
    margin-right: 0;
}

.side-r .side-r-foot button span {
    background: transparent;
    /*color: #333333;*/
    font-weight: 400;
}

.side-r .filter-list dl {
    border: none;
    margin: 10px 0;
}

.side-r .filter-list dl dd {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.side-r .filter-list dl dd input,
.side-r .filter-list dl dd select,
.side-r .filter-list dl dd textarea {
    width: 100%;
}

.side-r .filter-list dl dd input[type=radio] {
    width: auto;
}

.side-r .filter-list dl dt {
    margin-bottom: 10px;
}

.side-r .filter-list dl dt select {
    height: 25px;
    margin-left: 10px;
}

.side-r .side-r-head {
    border-bottom: 1px solid rgb(226 226 226)!important;
    padding: 10px 0px!important;
    margin-bottom: 20px;
}

.side-menu-drop .side-expand {
    flex-direction: column;
    overflow: auto;
    border-right: 1px solid #e2e8f0;
    width: 180px;
    /*left: 85px;*/
}

.side-menu-drop .side-expand::-webkit-scrollbar {
    width: 2px;
}
.side-menu-drop .side-expand::-webkit-scrollbar-thumb {
    background: #e2e8f0;
}

.side-menu-drop .side-expand::-webkit-scrollbar-track-piece {
    background: #e2e8f0;
}

.side-menu-drop .workground {
    padding-left: 195px;
}

/*.side-menu-drop #side .head-nav ul li {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 0 5px;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.side-menu-drop #side .head-nav ul li span {*/
/*    height: 25px;*/
/*    font-size: 12px;*/
/*    font-weight: 400;*/
/*    line-height: 25px;*/
/*    padding: 0;*/
/*    text-align: center;*/
/*}*/

/*.side-menu-drop #side .head-nav ul li::after {*/
/*    display: none;*/
/*}*/

/*.side-menu-drop #side .head-nav ul li i {*/
/*    font-size: 16px;*/
/*    text-align: center;*/
/*    margin: 0;*/
/*}*/
/*.side-menu-drop #side .head-nav {*/
/*    width: 85px;*/
/*}*/

/*.side-menu-drop .head-nav::-webkit-scrollbar {*/
/*    width: 1px;*/
/*}*/
/*.side-menu-drop .head-nav::-webkit-scrollbar-thumb {*/
/*    background: #e0e0e0!important;*/
/*}*/
/*.side-menu-drop .workground {*/
/*    width: calc(100% - 85px)!important;*/
/*}*/
