<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<form action="index.php?app=purchase&ctl=admin_purchase&act=doCanclePo&p[0]=<{$po_id}>&finder_id=<{$env.get.finder_id}>" method="post" id="add_link">
</form>
<div>确定要取消采购单?</div>

    <div class="table-action">
      <{button label="确定" class="btn-primary" onclick="sub_form(event);"}> &nbsp; &nbsp;
      <{button label="关闭" class="btn-secondary" isCloseDialogBtn="true"}>
    </div>
<script>

function sub_form(event) {
    $('add_link').fireEvent('submit',new Event(event));
}

$('add_link').store('target',{
    onComplete:function(){
        if($('add_link').getParent('.dialog')){
            finderGroup['<{$env.get.finder_id}>'].refresh.delay(400,finderGroup['<{$env.get.finder_id}>']);
            $('add_link').getParent('.dialog').retrieve('instance').close();
        }

        
    }
});

</script>    
