<app>
    <name>出入库流水控件</name>
    <description>出入库流水控件</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.1.0</version>
    <license>shopex license</license>
    <parent_model_class>dbeav_model</parent_model_class>

	<depends>
        <app>ome</app>
	</depends>
</app>
