<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="finder-packet chart-tabs">
    <ul class="clearfix over">
      <li class="current">
         <a href="javascript:void(0);"><span><{t}>商品售罄率<{/t}></span></a>
      </li>
    </ul>
</div>
<div style="height:220px;overflow:hidden" class="gridlist">
    <div class="loading chart-items">
        <textarea class="textarea-lazyload dis_n">
        <iframe frameborder="0" src="index.php?app=omeanalysts&ctl=ome_goodsamount&act=chart_view&time_from=<{$time_from}>&time_to=<{$time_to}>" scrolling="no"  width="100%" height="100%" onload="$(this).getParent().removeClass('loading')"></iframe>
        </textarea>
    </div>
</div>

