<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="tableform">
    <div class="division">
        <table border="0" cellspacing="0" cellpadding="0" >
            <tbody>
                <tr>
                    <td>排序</td>
                    <td>拆分</td>
                    <td>基础物料编码</td>
                    <td>基础物料</td>
                    <td>分摊费用</td>
                </tr>
                <{foreach from=$expenses key=key item=item}>
                <tr>
                    <td><{$key + 1}></td>
                    <td><{$item.split_status}></td>
                    <td><{$item.material_bn}></td>
                    <td><{$item.material_name}></td>
                    <td><{$item.money|number_format:2}></td>
                </tr>
                <{foreachelse}>
                    <tr><td>没有拆分明细</td></tr>
                <{/foreach}>
            </tbody>
        </table>
    </div>
</div>