<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="tableform">
           <div class="division">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">

        <tbody>
  
      <tr>
         <td > 单据编号 </td>
         <td > 操作者 </td>
         <td > 时间 </td>
         <td > 内容 </td>
       </tr>

            <{foreach from=$list item=item}>
       <tr>
         <td><{$item.log_bn}></td>
         <td><{$item.op_name}></td>
         <td><{$item.log_time|cdate}></td>
         <td><{$item.content}></td>
       </tr>
        <{/foreach}>
        </tbody>
      </table>
    

  </div>  </div>