/config
/data
/public
/app/taskmgr/config
/app/taskmgr/logs
/app/dev
/node_modules
/tests/logs
/vendor
/out
/tests/logs
.tag*
package-lock.json
commitlint.config.js
rpc.txt
composer.lock
.phpstorm*
.idea
.vscode
.phpunit.result.cache
.devcontainer
.htaccess
.cursor

