/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

@charset "UTF-8";

.login-log {
    position: absolute;
    left: 10px;
    top: 10px;
    max-width: 150px;
    max-height: 50px;
    margin: 0;
}

.desktop-sprite { background: url(images/sprite.png) no-repeat; }

.content { width: 820px; margin: 70px auto; }

.login-t { margin: 0; width: 50%; padding: 0; }

.publicize { height: 100%; width: fit-content }

.ifram img {
    height: 100%;
    width: auto;
    max-width: 100%;
    margin: 0!important;
}

.passport-item { border: 1px #ccc solid; border-left: 1px #999 solid; border-bottom: 1px #999 solid; padding: 10px; height: 250px; background: #efefef; }

.passport-item { border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; }

.passport-item ul, .passport-item li { list-style: none; margin: 0; padding: 0; }

.passport-title { font-size: 14px; font-family: Microsoft YaHei,"黑体",Verdana; padding: 4px; margin: 4px; border-bottom: 1px #ccc solid; }

.passport-item label { font-weight: normal; color: #333; font-size: 12px; }

.passport-bd { line-height: 22px; }

.passport-bd li {
    position: relative;
    height: 60px;
    padding-top: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
}

.refresh-code {
    width: 100px;
    height: 30px;
    display: block;
    margin-top: 9px;
    border-bottom: 1px solid var(--input-border-color);
}
.passport-bd li .verifycodeimg {
    width: 100px;
    height: 30px;
    display: block;
    margin: 0;
}

.passport-bd li label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    color: #888888;
}

.passport-bd li > input {
    border-right: none;
    border-left: none;
    border-top: none;
    box-shadow: none;
    border-radius: 0;
    height: 40px;
    padding-left: 4px;
    width: 100%;
}

.passport-bd li.colspan {
    display: flex;
    height: auto;
    padding: 0;
}

.passport-bd li.colspan input[type=checkbox] {
    width: auto;
    height: auto;
    margin-right: 6px;
}

.passport-bd li.colspan label {
    position: static;
}

.passport-bd li.colspan .btn-login  {
    height: 36px;
    width: 100%;
    color: #FFFFFF;
    background: #157FE3;
    cursor: pointer;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 2px;
    margin-top: 50px;
}

.passport-bd li.colspan .btn-login:hover {
    background: #036acc;
}

.verifycodeimg { margin: 3px 0 0 5px; }

.inputstyle-out { width: 210px; height: 18px; margin: 0px; border: 1px solid #DBDBDB; padding: 2px 0 0 22px; }

.inputstyle-move { width: 210px; height: 18px; margin: 0px; border: 1px solid #91A7D5; padding: 2px 0 0 22px; }

.inputstyle-out-name { background: url(images/login/signup_icon.gif) no-repeat 4px -60px; }

.inputstyle-move-name { background: url(images/login/signup_icon.gif) no-repeat 4px -39px; }

.inputstyle-out-pw { background: url(images/login/signup_icon.gif) no-repeat 4px -18px; }

.inputstyle-move-pw { background: url(images/login/signup_icon.gif) no-repeat 4px 3px; }

.inputstyle-short-out { width: 40px; height: 18px; padding: 1px 0 0 2px; margin: 0px; border: 1px solid #DBDBDB; }

.inputstyle-short-move { width: 40px; height: 18px; padding: 1px 0 0 2px; margin: 0px; border: 1px solid #91A7D5; }

.btn-login { background: url(images/login/signup_27.gif) no-repeat; border: none; color: #fff; width: 110px; height: 33px; line-height: 36px; padding: 0 0 0 12px; cursor: pointer; font-size: 14px; font-weight: bold; }

.info-tip { background: #ffffcc; position: absolute; margin: 9px 0 0 39px; *margin: 33px 0 0 -237px; overflow: visible; padding: 0 5px; color: #333; border: 1px solid #cccccc; visibility: hidden; }

.info-tip-arrow { background: url(images/login/arrow.gif) no-repeat; width: 10px; height: 10px; position: absolute; margin: -10px 0 0 3px; *margin: -13px 0 0 3px; display: block; }

.error-info { background: #fff2f2 url(images/login/stop.gif) no-repeat 5px 3px; color: #333; border: 1px solid #FF8080; position: absolute; padding: 0 5px 0 25px; margin: 0 0 0 48px; *margin: 0 0 0 -121px; top: 167px; }

.copyright { width: 100%; height: 50px; text-align: center; color: #666; font-size: 12px; }

.copyright-main { width: 754px; height: 40px; background: url(images/login/signup_inverted.gif) no-repeat center top; margin: 0 auto; padding-top: 10px; }

.title h3 { margin-top: 0; }

.title h3 span { display: block; line-height: 20px; font-size: 9px; font-weight: normal; }

.fav { line-height: 25px; padding-left: 10px; }

.fav a { color: #666; text-decoration: none; }

.fav a:hover { text-decoration: underline; }

.fav .act { padding-left: 16px; background: url(images/login/fav.gif) no-repeat 0 -19px; }

.fav .createshortcut { background-position: 0 0; }

/*---------signup--------*/
* { margin: 0 auto; padding: 0; }

ul, p, dd, dl, dt, img, li { margin: 0; padding: 0; border: 0; }

.logo h3 { text-align: left; margin: 0; padding: 0 0 0 5px; border: 0; color: #4F638F; }

.logo h3 span { display: block; line-height: 20px; font-size: 9px; font-weight: normal; }

li { list-style: none; text-align: left; }

body { margin: 0px; padding: 0; font-size: 12px; text-align: center; font-family: Arial, Helvetica, sans-serif,"宋体"; background: url(images/login/bg.gif) repeat-x; background-color: #fff; }

.signup-contant { width: 100%; height: 100vh;  }

.signup-contant-main { height: 100%; margin: 0 auto; padding: 0; }

.logo { height: 35px; padding: 0 0 6px 0; }

.signup { height: 100% }

.signip-main { height: 100%; display: flex }

.signup-middle { width: 100%; height: 100% }

.ifram { flex: 1; display: flex }

.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40%;
    box-sizing: border-box;
    padding-top: 15%;
}

.window-main { width: 300px; height: auto }

.window-tab { width: 300px; height: 30px; float: left; color: #3F4C68; font-size: 14px; margin-bottom: 40px }

.window-tab ul {
    display: flex; justify-content: space-between
}

.window-tab ul li {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    padding-bottom: 10px;
    margin: 0;
    width: fit-content;
}

.window-tab-current {
    color: #157FE3;
    border-bottom: 2px solid #157FE3;
}

.window-tab-current div {
    color: #157FE3;
}

.window-tabmore li {
}

.window-tabsingle li { float: left; }

.window-tabcurrent-left {display: none; }
.window-tabcurrent-mid { width: auto; height: 24px; float: left; padding: 6px 8px 0px 9px;  }

.window-tabcurrent-right { display: none}

.window-tab-unselected { width: auto; height: 22px; float: left; padding: 6px 0px 0px 20px; }

.window-info { width: 260px; height: 24px; float: left; padding: 5px 0px 5px 0px; }

.window-info-title { width: 56px; height: 24px; float: left; overflow: hidden; font-size: 14px; color: #3F4D69; text-align: right; padding: 6px 6px 0px 0px; }

.window-info-input { width: 182px; height: 24px; float: left; text-align: left; }

.window-info-inputcode { width: 112px; height: 24px; float: left; text-align: left; }

.signup-input { width: 176px; height: 18px; margin: 0; border: 1px solid #C1CFE2; padding: 2px 0 0 2px; }

.signup-input-code { width: 106px; height: 18px; margin: 0px; border: 1px solid #C1CFE2; padding: 2px 0 0 2px; }

.code { width: 65px; height: 22px; float: left; }

.check-txt { width: 78px; height: 17px; float: left; font-size: 12px; color: #3F4C68; text-align: left; padding: 5px 0px 0px 2px; }

.check { width: auto; height: 22px; float: left; text-align: left; padding-left: 58px; }

.window-btn { width: 79px; height: 29px; float: left; padding-left: 62px; }

.inverted-image { width: 817px; height: 24px; float: left; }

/*---------激活码提交--------*/
.signup-activation { height: 348px; }

.activation-main { width: 748px; height: 348px;  }

.activation { width: 448px; padding: 38px 0 0 0; margin: 0 auto; }

.activation .window-main { width: 310px; height: 180px; float: left; border: 1px solid #CCD7EC; margin: 0 0 25px 0; }

.activation .blank-line { width: 310px; line-height: normal; border-bottom: 1px solid #CCD7EC; margin: 26px 0 20px 0; }

.activation-input { border: 1px solid #91A7D5; width: 200px; height: 22px; line-height: 160%; }

.activation .btn { float: left; padding: 0 0 0 168px; }

.login_title h3{ font-family:Microsoft Yahei;font-size:18px; }
