<app>
    <name>FinanceBase</name>
    <description>财务基础版</description>

    <author>
        <name>shopex开发团队</name>
        <email>杨弈超@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.1.0</version>
    <license>shopex license</license>
    <parent_model_class>dbeav_model</parent_model_class>
    <optional app="dev">开发者工具</optional>

	<depends>
		<app>ome</app>
	</depends>
</app>
