<app>
    <name>模拟仓储物流</name>
    <description>模拟仓储入库、出库、盘点商品库存和订单的发货、退货、换货</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email> 
        <url>http://www.shopex.cn</url>
    </author>

    <version>1.0.1</version>
    <license>shopex license</license>
    <parent_model_class>dbeav_model</parent_model_class>

	<depends>
        <app>ome</app>
	</depends>
</app>
