<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<{include file="analysis/bills/time_header.html" app="finance"}>

<{if $detail_hidden < 1}>
<!-- detail start -->
<div class="large">
    <{include file="analysis/bills/detail.html" app="finance"}>
</div>
<!-- detail end -->
<{/if}>

<{if $graph_hidden < 1}>
<!-- graph start -->
<table class="chart-view">
	 <tr><td valign="top">
        <{include file="analysis/graph.html" app="eccommon"}>
    </td></tr>
</table>
<!-- graph end -->
<{/if}>

<{if $rank_html}>
<!-- rank start -->
<table class="chart-view">
	 <tr>
		<td valign="top">
			<{$rank_html}>
		</td>
	 </tr>
</table>
<!-- rank end -->
<{/if}>


