<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="tableform">
<div class="division">
<form method="post" action="index.php?<{$env.server.QUERY_STRING}>" id="terminal">
<input type="hidden" name="wms_id" value="<{$wms_id}>">
      <table width="100%" cellspacing="0" cellpadding="0" border="0" >
        <tbody>
        <{foreach from=$shop_list item=v}>
       <tr>
          <th> <{$v.name}>(<{$v.shop_bn}>)：</th>
          <td><{input type="text" size="32" name="shop_config[{$v.shop_bn}]" value=$v.wms_code}>
          <{help}><{t}>填写的是WMS第三方售达方编号<{/t}><{/help}>
          </td>
        </tr>
        <{/foreach}>
        </tbody>
      </table>
<div class="table-action">
<{if $shop_list}>
<{button class="btn-primary" type="submit" id="saveterminal" name="submit" label="保存"}>
<{else}>
请添加店铺
<{/if}>
</div>
</form>
</div>
</div>

<script>
$('terminal').store('target',{
    onRequest:function(){
    },
    onComplete:function(jsontext){
      finderGroup['<{$env.get.finder_id}>'].refresh.delay(400,finderGroup['<{$env.get.finder_id}>']);
    }
});
</script>
