<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<style>
.shop-name{
    color:red;font-weight:bold;
}
.rules{
  margin-bottom: 5px;
}
.rules select{
  margin-right: 5px;
}
.rule_tr{
  margin: 10px 0;
}
</style>
<div class="tableform">
  <h3>更改账期</h3>
  <div class="division">
    <form method="post" action="index.php?app=finance&ctl=monthend_uncharge&act=doSet" id="form-rule">
      <input type="hidden" name="ar_id" value="<{$ar_id}>">
      <input type="hidden" name="monthly_id" value="<{$monthly_id}>">
      <table width="100%" cellspacing="0" cellpadding="0" border="0" id="rule-section">
        <tbody>
          <tr>
            <th>选择账期</th>
            <td>
              <select name="monthly_id" vtype="required">
    
                    <{foreach from=$monthly_report item=val}>
                    <option value="<{$val.monthly_id}>" ><{$val.monthly_date}></option>
                    <{/foreach}>
                </select>
             </td>
          </tr> 

          </table>
         

      <div class="table-action">  <{button label="提交" type="submit" name="submit" id="btn-rule"}> &nbsp;&nbsp; <{button label="关闭" onclick="javascript:void(window.close());" class="btn-secondary" type="button"}></div>
   
    </form>
  </div>
</div>
<script>



$('form-rule').store('target',{
    onRequest:function(){
       $('btn-rule').set('disabled', 'true');
       
    },
    onComplete:function(jsontext){
       var json = Json.evaluate(jsontext);
       if (typeof(json.error) != 'undefined'){
           $('btn-rule').set('disabled', '');
       }else{
           $('btn-rule').set('disabled', 'true');
           opener.finderGroup['<{$env.get.finder_id}>'].refresh.delay(400,opener.finderGroup['<{$env.get.finder_id}>']);
           window.close();
       }
    }
});



</script>
