<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="tableform">
 <table border="0">
      <tbody>
      <tr>
            <td>
              <span style="font-weight: bold; font-size: 18px; line-height: 30px;">翱象审单提醒:</span><br><br>
              <span style="font-size: 14px; color: red; line-height: 18px;">&nbsp;&nbsp;&nbsp;<{$error_msg}></span><br><br><br>
            </td>
        </tr>
      </tbody>
</table>

<div class="table-action">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td><button class="btn btn-primary" id="sso-cancel"><span><span><{t}>取消操作,检查订单<{/t}></span></span></button>&nbsp;&nbsp;<button class="btn btn-primary" id="sso-submit"><span><span><{t}>确认继续发货<{/t}></span></span></button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<script>
(function(){
    $('sso-cancel').addEvent('click',function(e){
        $('sso-cancel').getParent('.dialog').retrieve('instance').close();
    });

    $('sso-submit').addEvent('click',function(e){
        $('sso-cancel').getParent('.dialog').retrieve('instance').close();
        $('order_split').fireEvent('submit', {
            stop: function() {
            }
        });
    });
})();
</script>
