<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<{capture name="header"}>
<{css app="ome" src="ome.css"}>
<{script src="coms/autocompleter.js" app='desktop' }>
<{/capture}>
<div></div>
<div>
  <div class="finder-detail">
    <table  cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
        <td style="text-align: left;" ><h3>发货单信息</h3></td>
        </tr>
      </tbody>
    </table>



<div id="present">
  <div class="gridlist" >
    <table class="nosplit" width="100%" cellspacing="0" cellpadding="0" border="0" >
      <thead>
        <tr>
        <th>销售物料编码</th>
        <th>销售物料名称</th>
        <th>规格</th>
        <th>购买数量</th>
        <th>物料价格</th>
        </tr>
     </thead>
     <tbody id="itemlist">
    <{foreach from=$operation_detail.item_list item=obj_item key=obj_type}>
            <{if $obj_type == 'pkg'}>
                <{foreach from=$obj_item item=items}>
                  <tr class="bindtitle" pkg-type="pkg" <{if $pkg_del=='true'}>style="background-color: #D8D8D8;" pkg-del='b'<{else}> pkg-del="a"<{/if}>>
                  <td class="goods_bn"><{$items.bn}></td>
                  <td align="left" class="goods_name"><{$items.name}></td>
                  <td class="goods_addon">捆绑商品</td>
                  <td class="goods_num"><{$items.quantity}></td>
                  <td class="goods_num"><{$items.price}></td>
                </tr>
                    <{foreach from=$items.order_items item=item}>
                    <{if $item.delete == 'true'}>
                    <{assign var='pkg_del' value="true"}>
                    <{else}>
                    <{assign var='pkg_del' value="false"}>
                    <{/if}>
                        <tr  <{if $item.delete == 'true'}>style="background-color: #D8D8D8;" pkg-del="b"<{else}>style="background-color:#F0F6FE;" pkg-del="a"<{/if}>>
                          <td class="item_bn"><{$item.bn}></td>
                          <td align="left" class="item_name"><{$item.name}></td>
                          <td class="item_addon"><{if $item.addon}><{$item.addon}><{else}>-<{/if}></td>
                          <td class="item_num"><{$item.quantity}></td>
                          <td class="item_price"><{$item.price}></td>
                        </tr>
                    <{/foreach}>
                <{/foreach}>
            <{/if}>
            
            <{if $obj_type == 'goods'}>
            	<{foreach from=$obj_item item=items}>
                    <{foreach from=$items.order_items item=item}>
                          <tr <{if $item.delete == 'true'}>class="disabled" g-del="b"<{else}>g-del="a"<{/if}>>
                            <td class="item_bn <{$item.item_type}>class">
                              <span class="number"><{$item.bn}></span>
                            </td>
                            <td align="left" class="item_name"><{$item.name}></td>
                            <td class="item_addon"><{if $item.addon}><{$item.addon}><{else}>-<{/if}></td>
                            <td class="item_num"><{$item.quantity}></td>
                            <td class="item_price"><{$item.price}></td>
                          </tr>
                  <{/foreach}>
				<{/foreach}>
            <{/if}>
            
            <{if $obj.obj_type == 'gift'}>
                <{foreach from=$obj.order_items item=item}>
                      <tr <{if $item.delete == 'true'}>style="background-color: #DBDBDB;" g-del="b"<{else}>g-del="a"<{/if}>>
                        <td class="item_bn">
                          <span class="number"><{$item.bn}></span>
                       </td>
                        <td align="left" class="item_name"><{$item.name}></td>
                        <td class="item_addon"><{if $item.addon}><{$item.addon}><{else}>-<{/if}></td>
                        <td class="item_num"><{$item.quantity}></td>
                        <td class="item_price"><{$item.price}></td>
                      </tr>
                <{/foreach}>
            <{/if}>
    <{/foreach}>
      </tbody>
     </table>
     <div style="text-align: right; line-height:30px;"><b>商品总金额:<{$operation_detail.cost_item}></span>元</b></div>
  </div> 
</div>






  </div>
</div>

<div>
<div id="order_edit_receiver">
  <table width="100%" class="gridlist">
    <thead>
      <tr>
        <th style="text-align:left;">配送信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="delivery-info">
           <tr>
            <th>收货人姓名：</th>
            <td><{$operation_detail.consignee.name }></td>
            <th>送货时间：</th>
            <td><{$operation_detail.consignee.r_time}></td>
            <th>收货地区：</th>
            <td>
              <{$operation_detail.consignee.area|region}></td>
           </tr>
           <tr>
             <th>联系手机：</th>
             <td><{$operation_detail.consignee.mobile}></td>
             <th>邮政编码：</th>
             <td><{$operation_detail.consignee.zip }></td>
            <th>收货地址：</th>
            <td><{$operation_detail.consignee.addr }></td>
            </tr>
           <tr>
             <th>联系电话：</th>
             <td><{$operation_detail.consignee.telephone}></td>
             <th>Email地址：</th>
             <td><{$operation_detail.consignee.email}></td>
            <th>&nbsp;</th>
            <td>&nbsp;</td>
          </tr>
         </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>


  <div class="finder-detail">
    <h3 >订单信息</h3>
    <div class="division" style="background:#fff; " id="order_area">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
            <th>订单号：</th>
            <td><{$operation_detail.order_bn}></td>
            <th><b>订单总金额：</b></th>
            <td><b id="total_amount_show"><{$operation_detail.total_amount|cur}></b></td>
            <th>订单折扣或涨价：</th>
            <td><{$operation_detail.discount|cur}>&nbsp;<{help}>要给顾客便宜100元，则输入"-100";要提高订单价格100元，则输入"100".<{/help}></td>
          </tr>
          <tr>
            <th>下单日期：</th>
            <td><{$operation_detail.createtime|date_format:'%Y-%m-%d'}> <span style="color:#84A2AD;">(至今<{$order.difftime}>)</span></td>
            <th>配送费用：</th>
            <td><{$operation_detail.shipping.cost_shipping}></td>
            <th>支付方式：</th>
            <td><{$operation_detail.payinfo.pay_name}></td>
          </tr>
          <tr>
            <th>商品总金额：</th>
            <td><{$operation_detail.cost_item|cur}></b></td>
            <th>配送方式：</th>
            <td><{$operation_detail.shipping.shipping_name}></td>
            <th>支付手续费：</th>
            <td><{$operation_detail.payinfo.cost_payment|cur}> </td>
          </tr>
          <tr>
            <th>订单优惠金额：</th>
            <td><{$operation_detail.pmt_order|cur}></td>
            <th>保价：</th>
            <td><{$operation_detail.shipping.cost_protect|cur}></td>
            <th>税金：</th>
            <td><{$operation_detail.cost_tax|cur}> </td>
          </tr>
          <tr>
            <th>商品优惠金额：</th>
            <td><{$operation_detail.pmt_goods|cur}></td>
            <th>商品重量：</th>
            <td><{$operation_detail.weight}></td>
            <th>发票抬头：</th>
            <td><{$operation_detail.tax_title}></td>
          </tr>
          <tr>
            <th>已支付金额：</th>
            <td><{$operation_detail.payed|cur}></td>
            <th>支付币种：</th>
            <td><{$operation_detail.currency}></td>
            <td>订单失效时间:</td>
            <td><{$operation_detail.order_limit_time|date_format:'%Y-%m-%d'}></td>
          </tr>
      </tbody></table>
    </div>
  </div>

 <!--订单备注 -->
  <div class="finder-detail">
    <h3 >订单备注</h3>
    <div class="division" style="background:#fff; ">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
   <tr>
   <th align='right'>标记：</th>
   <td align='left'>
      <{foreach from=$operation_detail.mark_type_arr item=item key=key}>
      <label><input type='radio' disabled="true" name='order[mark_type]' value='<{$key}>' id='<{$key}>' <{if $operation_detail.mark_type==$key}>checked="checked"<{/if}> ><img src='<{$item}>' width='20' height='20'></label>
      <{/foreach}>
   </tr>
   <{if $operation_detail.mark_text}>
   <tr>
      <th><{t}>订单备注：<{/t}></th>
      <td>
        <{foreach from=$operation_detail.mark_text item=items}>
        <div>
      <b><{$items.op_content|escape:"HTML"}></b> <{$items.op_time}> by <{$items.op_name}>
      </div>
      <{/foreach}>
      </td>
    </tr>
    <{/if}>
    </table>  
</div>
</div>

<!--买家留言 -->
  <div class="finder-detail">
    <h3 >买家留言</h3>
    <div class="division" style="background:#fff; ">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
   <{if $operation_detail.custom_mark}>
   <tr>
      <th><{t}>买家留言：<{/t}></th>
      <td>
        <{foreach from=$operation_detail.custom_mark item=items}>
        <div id="memo_show">
      <b><{$items.op_content|escape:"HTML"}></b> <{$items.op_time}> by <{$items.op_name}>
      </div>
      <{/foreach}>
      </td>
    </tr>
    <{/if}>
    </table>  
</div>
</div>

<!--支付单信息 -->
  
  <div class="finder-detail" style="margin-top:10px;">
    <div><h3>购买人信息</h3></div>
    <div class="division" style="background:#fff;" id="buyer_area">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <th>会员用户名：</th>
            <td><{$member.account.uname}><input type="hidden" name="mem_uname" value="<{$member.account.uname}>"></td>
            <th>姓名：</th>
            <td><{$member.contact.name}><input type="hidden" name="mem_name" value="<{$member.contact.name}>"></td>
            <th>联系电话：</th>
            <td><{$member.contact.phone.telephone}><input type="hidden" name="mem_telephone" value="<{$member.contact.phone.telephone}>"></td>
            <th>手机：</th>
            <td><{$member.contact.phone.mobile}><input type="hidden" name="mem_mobile" value="<{$member.contact.phone.mobile}>"></td>
          </tr>
          <tr>
            <th>Email：</th>
            <td><{$member.contact.email}><input type="hidden" name="mem_email" value="<{$member.contact.email}>"></td>
            <th>邮政编码：</th>
            <td><{$member.contact.zipcode}><input type="hidden" name="mem_zipcode" value="<{$member.contact.zipcode}>"></td>
            <th>详细地址：</th>
            <td><{$member.contact.area|region}> <{$member.contact.addr}><input type="hidden" name="mem_area" value="<{$member.contact.area|region}> <{$member.contact.addr}>"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <{capture name='footbar'}>
    <table cellspacing="0" cellpadding="0" class="table-action">
	  <tbody><tr valign="middle">
	    <td>
	      <{button label="关闭" class="btn-primary" id="closeBut"}>
	    </td>
	    </tr>
    </tbody></table>
<{/capture}>

<script>
$('closeBut').addEvent('click', function(event){
    window.close();
});
</script>
  