<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <th><font color="red">* 必填</font>售后原因：</th>
            <td>
            	<{input class="dailog-batch-ipt" required=true type="select" name="problem_id" rows=$problem_list valueColumn="problem_id" labelColumn="problem_name"}>

                
            </td>
        </tr>
    </tbody>
</table>