<app>

    <name>OME</name>
    <main_app exclusion="true">true</main_app>
    <description>业务处理引擎</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>1.0.8</version>   
    <license>shopex license</license>
    <api_ver>3.0</api_ver>
    <parent_model_class>dbeav_model</parent_model_class>
    <optional app="dev">开发者工具</optional>
    
	<depends>
		<app>eccommon</app>
		<app>image</app>
        <app>desktop</app>
        <app>taoexlib</app> 
	</depends>
</app>