<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="form-layout-block">
    <!-- <h3>Webhook地址</h3> -->
    <div class="form-layout-fields form-layout-fields-column">
        <div class="form-field oidc-content">
            <span class="form-field-label">Webhook地址：</span>
            <{input type='text' class='form-input' placeholder='请输入Webhook地址' name='workwx[webhook]' value=$workwx.webhook size=60}>
        </div>
    </div>
</div>

