<app>
    <name>单据</name>
    <description>业务数据生成相关销售单据、售后单据</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>1.0.0</version>
    <parent_model_class>dbeav_model</parent_model_class>
    <license>shopex license</license>

    <depends>
        <app>desktop</app>
    </depends>
</app>
