<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<form action="index.php?app=financebase&ctl=admin_shop_settlement_bill&act=doExport&finder_id=<{$env.get.finder_id}>" method="post" id="form1" isCloseDialog>
     <div class="tableform">
      <div class="division">
 <table width="100%" border="0" cellpadding="0" cellspacing="0" class="girdlist">

<tr><th>所属平台</th><td id="bill-shop">
  <select name="platform_type" id="platform_type" vtype="required">
  <{foreach from=$platform_list key=key item=item}>
<option value="<{$key}>" ><{$item}></option>
<{/foreach}>
</select>
</td></tr>

<tr><th>账单时间</th><td >
<{input type="date" vtype="date|required" name="time_from" id="time_from" style="width:66px; font-family:arial;" value=$time_from}>&nbsp;&nbsp;至&nbsp;&nbsp;
                <{input type="date" vtype="date|required" name="time_to" id="time_to" style="width:66px; font-family:arial;" value=$time_to}>
                
</td></tr>

 </table>

<div class="table-action">
      <{button label="确定" id="btn-submit" class="btn-primary" }> &nbsp; &nbsp;
      <{button label="关闭" class="btn-secondary" isCloseDialogBtn="true"}>
    </div>

  </div>  </div>
</form>
<script>



var view = <{$view}> || 0;

console.log(view);
$('btn-submit').addEvent('click',function(e){


    var platform_type = $('platform_type').get('value');
    var time_from = $('time_from').get('value');
    var time_to = $('time_to').get('value');

    this.getParent('.dialog').retrieve('instance').close();

    window.open('index.php?app=finance&ctl=settlement&act=doBillExport&p[0]='+platform_type+'&p[1]='+time_from+'&p[2]='+time_to+'&p[3]='+view);

});
</script>
