<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="division" id='support-shops'>
    <form id='copy_rule' method='post' action="index.php?app=logistics&ctl=admin_rule&act=doCopyRule&finder_id=<{$finder_id}>">
        <h4>此规则将复用到以下选定到的仓</h4>
        <div class="tableform">
           <table width="100%" border="0" class="girdlist">
  <tr>
    <th><em class="c-red">*</em> 选择仓库:</th>
    <td>
        <{input type='object' name='branch' object='branch@ome' multiple=true filter=array('is_deliv_branch'=>'true','check_permission'=>'false','branch_id|notin'=>$rule_branch_id,'b_type'=>'1')}>
                    
            </td>
  </tr>
</table>
<input type='hidden' name="rule_id" value='<{$rule_id}>'>

</div>
        </div>

<div class="division">
<h4><{t}>注意:<{/t}></h4>
<h5>
1.复用规则后,该仓库的物流费用计算,将与父级的物流费用计算一致<br><br>
2.父级仓库发生修改，该仓库将进行相同修改<br><br>
3.子级仓库规则不能作为父级仓库规则再被复用<br></h5>
 </div> 
   <div class="table-action">
            <{button label="确定" type="button" id='copy-rule'}>
        </div>

  </form>


<script>
$('copy-rule').addEvent('click',function(e){

    var form=this.getParent('form');
    var _this=this;

    $('copy_rule').store('target',{
          onRequest:function(){
                _this.disabled=true;
            },
            onComplete:function(jsontext){
            try{
                    var json = Json.evaluate(jsontext);
                    console.info(json);
                    if (typeof(json.error) != 'undefined'){
                        _this.disabled=false;
                    }else{

                        _this.getParent('.dialog').retrieve('instance').close();
                        window.finderGroup['<{$env.get.finder_id}>'].refresh(true);
 
                    }
                 }catch(e){}
            }
        });
        $('copy_rule').fireEvent('submit',e);



});
</script>