<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<h3 class="head-title">日志详情</h3>
<div class="tableform">
    <div class="division">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" >
            <tbody>
                <tr>
                    <th>接口参数数据:</th>
                    <td>
                        <{$apilog.send_api_params}>
                    </td>
                </tr>
                <tr>
                    <th >返回：</th>
                    <td>
                        <{$apilog.msg}>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>