<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td>
            <div class="tableform">
                <table cellspacing="0" cellpadding="0" border="0" class="orderdetails_basic">
                    <tbody>
                    <tr>
                        <td>
                            <div class="division">
                                    <table cellspacing="0" cellpadding="0" border="0">

                                        <tbody>
                                        <tr>
                                            <th>店铺名称：</th>
                                            <td><{$info.shop_name}></td>
                                        </tr>
                                        <tr>
                                            <th>消息内容：</th>
                                            <td><{$info.msg}></td>
                                        </tr>
                                        </tbody>
                                    </table>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>

    </tbody>
</table>
