<app>
    <name>流程控制</name>
    <description>流程控制</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>1.0.0</version>
    <license>shopex license</license>

	<depends>
		<app>ome</app>
	</depends>

</app>