<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<{capture name="header"}>
<{css app="ome" src="ome.css"}>
<{/capture}>

<div class="division" id="order_items">
<{if $pkgList}>
  <h4>组合商品</h4>
  <table class="nosplit gridlist clear" width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #d5dfe3; border-collapse: separate;">
    <thead>
    <tr>
      <th><{t}>物料编码<{/t}></th>
      <th><{t}>物料名称<{/t}></th>
      <th><{t}>原价<{/t}></th>
      <th><{t}>销售价<{/t}></th>
      <th><{t}>优惠额<{/t}></th>
      <th><{t}>实付金额<{/t}></th>
      <th><{t}>优惠分摊<{/t}></th>
      <th><{t}>购买量<{/t}></th>
      <th><{t}>已发货量<{/t}></th>
      <th><{t}>已退货量<{/t}></th>
      <th><{t}>发货方式<{/t}></th>
      <th><{t}>所属贸易公司<{/t}></th>
      <th><{t}>子单状态<{/t}></th>
      <th><{t}>支付状态<{/t}></th>
      <th><{t}>子单号<{/t}></th>
      <th style="white-space: nowrap;width: 130px;display:none;"><{t}>最后更新时间<{/t}></th>
    </tr>
  </thead>
  <tbody>
    <{foreach from=$pkgList item=obj}>
    <tr <{if $obj.delete == 'true'}>style="background-color:#AAAAAA;"<{/if}> >
      <td><strong><{$obj.bn}></strong></td>
      <td style="width:230px; word-spacing:nowrap;"><a title="<{$obj.name}>" class="noLink"><{$obj.name}></a></td>
      <td><{$obj.price}></td>
      <td><{$obj.sale_price|cur}></td>
      <td><{$obj.pmt_price|cur}></td>
      <td><{$obj.divide_order_fee|cur}></td>
      <td><{$obj.part_mjz_discount|cur}></td>
      <td><{$obj.quantity}></td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <td style="white-space: nowrap;"><span <{if $obj.pay_status == '5' || $obj.pay_status == '6'}>style="color: red;"<{/if}> ><{$obj.pay_name}></span></td>
      <td><{$obj.plat_oid}></td>
      <td style="display:none;"> - </td>
    </tr>
      <{foreach from=$obj.order_items item=item}>
      <tr class="ColColorBlue" <{if $item.delete == 'true'}>style="background-color:#DDDDDD;"<{/if}> >
        <td><{$item.bn}></td>
        <td style="width:230px; word-spacing:nowrap;"><a title="<{$obj.name}>" class="noLink"><{$item.name}></a></td>
        <td><{$item.price}></td>
        <td><{$item.sale_price|cur}></td>
        <td><{$item.pmt_price|cur}></td>
        <td><{$item.divide_order_fee|cur}></td>
        <td><{$item.part_mjz_discount|cur}></td>
        <td><{$item.nums}></td>
        <td><{$item.sendnum}></td>
        <td><{$item.return_num}></td>
        <td>
          <span <{if $item.is_shopyjdf_type=='2' || $item.is_shopyjdf_type=='3'}>style="color: red;"<{/if}> >
          <{if $item.is_shopyjdf_type=='1'}>自发货<{elseif $item.is_shopyjdf_type=='2'}>代发货<{elseif $item.is_shopyjdf_type=='3'}>部分代发货<{else}>未知<{/if}>
          </span>
        </td>
        <td style="white-space: nowrap;"><{$item.betc_name}></td>
        <td><{$item.ship_name}></td>
        <td> - </td>
        <td> - </td>
        <td style="display:none;"><{$item.last_modified|cdate}></td>
      </tr>
      <{/foreach}>
    <{/foreach}>
  </tbody>
 </table>
<{/if}>
</div>
    
<div class="division" id="order_items">
<{if $goodsList}>
  <h4>普通商品</h4>
  <table class="nosplit gridlist clear" width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #d5dfe3; border-collapse: separate;">
    <thead>
    <tr>
      <th><{t}>基础物料编码<{/t}></th>
      <th><{t}>关联销售物料编码<{/t}></th>
      <th><{t}>关联销售物料名称<{/t}></th>
      <th><{t}>原价<{/t}></th>
      <th><{t}>销售价<{/t}></th>
      <th><{t}>优惠额<{/t}></th>
      <th><{t}>实付金额<{/t}></th>
      <th><{t}>优惠分摊<{/t}></th>
      <th><{t}>购买量<{/t}></th>
      <th><{t}>已发货量<{/t}></th>
      <th><{t}>已退货量<{/t}></th>
      <th><{t}>发货方式<{/t}></th>
      <th><{t}>贸易公司<{/t}></th>
      <th><{t}>子单状态<{/t}></th>
      <th><{t}>支付状态<{/t}></th>
      <th><{t}>子单号<{/t}></th>
      <th style="white-space: nowrap;width: 130px; display:none;"><{t}>最后更新时间<{/t}></th>
    </tr>
  </thead>
  <tbody>
  <{foreach from=$goodsList item=obj}>
    <{foreach from=$obj.order_items item=item}>
    <tr class="ColColorBlue" <{if $item.delete == 'true'}>style="background-color:#DDDDDD;"<{/if}> >
        <td><{$item.bn}></td>
        <td><{$obj.bn}></td>
        <td style="width:230px; word-spacing:nowrap;"><a title="<{$obj.name}>" class="noLink"><{$obj.name}></a></td>
        <td><{$item.price}></td>
        <td><{$item.sale_price|cur}></td>
        <td><{$item.pmt_price|cur}></td>
        <td><{$item.divide_order_fee|cur}></td>
        <td><{$item.part_mjz_discount|cur}></td>
        <td><{$item.nums}></td>
        <td><{$item.sendnum}></td>
        <td><{$item.return_num}></td>
        <td>
          <span <{if $item.is_shopyjdf_type=='2' || $item.is_shopyjdf_type=='3'}>style="color: red;"<{/if}> >
          <{if $item.is_shopyjdf_type=='1'}>自发货<{elseif $item.is_shopyjdf_type=='2'}>代发货<{elseif $item.is_shopyjdf_type=='3'}>部分代发货<{else}>待转换<{/if}>
          </span>
        </td>
        <td style="white-space: nowrap;"><{$item.betc_name}></td>
        <td><{$item.ship_name}></td>
        <td style="white-space: nowrap;"><span <{if $obj.pay_status == '5' || $obj.pay_status == '6'}>style="color: red;"<{/if}> ><{$obj.pay_name}></span></td>
        <td><{$obj.plat_oid}></td>
        <td style="display:none;"><{$item.last_modified|cdate}></td>
    </tr>
    <{/foreach}>
  <{/foreach}>
  </tbody>
 </table>
<{/if}>
</div>
    
<div class="division" id="order_items">
<{if $giftList}>
  <h4>订单赠品</h4>
  <table class="nosplit gridlist clear" width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #d5dfe3; border-collapse: separate;">
    <thead>
    <tr>
      <th><{t}>物料编码<{/t}></th>
      <th><{t}>物料名称<{/t}></th>
      <th><{t}>原价<{/t}></th>
      <th><{t}>销售价<{/t}></th>
      <th><{t}>优惠额<{/t}></th>
      <th><{t}>实付金额<{/t}></th>
      <th><{t}>优惠分摊<{/t}></th>
      <th><{t}>购买量<{/t}></th>
      <th><{t}>已发货量<{/t}></th>
      <th><{t}>已退货量<{/t}></th>
      <th><{t}>发货方式<{/t}></th>
      <th><{t}>贸易公司<{/t}></th>
      <th><{t}>子单状态<{/t}></th>
      <th><{t}>支付状态<{/t}></th>
      <th><{t}>子单号<{/t}></th>
      <th style="white-space: nowrap;width: 130px;display:none;"><{t}>最后更新时间<{/t}></th>
    </tr>
  </thead>
  <tbody>
    <{foreach from=$giftList item=obj}>
    <tr <{if $obj.delete == 'true'}>style="background-color:#AAAAAA;"<{/if}> >
      <td><strong><{$obj.bn}></strong></td>
      <td style="width:230px; word-spacing:nowrap;"><a title="<{$obj.name}>" class="noLink"><{$obj.name}></a></td>
      <td><{$obj.price}></td>
      <td><{$obj.sale_price|cur}></td>
      <td><{$obj.pmt_price|cur}></td>
      <td><{$obj.divide_order_fee|cur}></td>
      <td><{$obj.part_mjz_discount|cur}></td>
      <td><{$obj.quantity}></td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <td style="white-space: nowrap;"><span <{if $obj.pay_status == '5' || $obj.pay_status == '6'}>style="color: red;"<{/if}> ><{$obj.pay_name}></span></td>
      <td><{$obj.plat_oid}></td>
      <td style="display:none;"> - </td>
    </tr>
      <{foreach from=$obj.order_items item=item}>
      <tr class="ColColorBlue" <{if $item.delete == 'true'}>style="background-color:#DDDDDD;"<{/if}> >
        <td><{$item.bn}></td>
        <td style="width:230px; word-spacing:nowrap;"><a title="<{$obj.name}>" class="noLink"><{$item.name}></a></td>
        <td><{$item.price}></td>
        <td><{$item.sale_price|cur}></td>
        <td><{$item.pmt_price|cur}></td>
        <td><{$item.divide_order_fee|cur}></td>
        <td><{$item.part_mjz_discount|cur}></td>
        <td><{$item.nums}></td>
        <td><{$item.sendnum}></td>
        <td><{$item.return_num}></td>
        <td>
          <span <{if $item.is_shopyjdf_type=='2' || $item.is_shopyjdf_type=='3'}>style="color: red;"<{/if}> >
          <{if $item.is_shopyjdf_type=='1'}>自发货<{elseif $item.is_shopyjdf_type=='2'}>代发货<{elseif $item.is_shopyjdf_type=='3'}>部分代发货<{else}>待转换<{/if}>
          </span>
        </td>
        <td style="white-space: nowrap;"><{$item.betc_name}></td>
        <td><{$item.ship_name}></td>
        <td> - </td>
        <td> - </td>
        <td style="display:none;"><{$item.last_modified|cdate}></td>
      </tr>
      <{/foreach}>
    <{/foreach}>
  </tbody>
 </table>
<{/if}>
</div>
<style>
#order_items th {
    background: url("../app/desktop/statics/css/default/images/tile_bg.png") 0 -296px;
    height: 22px;
    line-height: 22px;
    border-right: 1px solid #c8d6dc;
}
.noLink { text-decoration:none; color:#5B5B5B; }
.noLink:hover { text-decoration:none; color:#5B5B5B; }
</style>
