<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<a href="javascript:void(0)" onclick="do_cancel(<{$log_id}>)">撤销</a>
<script>
function do_cancel(e){
    if(confirm('是否取消核销')){
        new Request({
            url:'index.php?app=finance&ctl=verification&act=do_cancel',
            data:'log_id='+e,
            method:'post',
            onSuccess:function(json){
                rs = JSON.decode(json);
                if(rs.res == 'fail'){
                    alert(rs.msg);
                }
                finderGroup['<{$finder_id}>'].refresh();
            }
        }).send();
    }
}
</script>