/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

body {
    margin: 0;
    background-color: rgba(243, 243, 243, 1);
  }
  
  .page {
    background-color: rgba(243, 243, 243, 1);
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  
  
  .main {
    margin-top: 2.5625rem;
    padding-bottom: 4.375rem
  }
  
  .delivery-info {
    padding: .88rem 0;
    background: #f5f5f5;
    min-height: 100vh;
  }

  .info-card {
    width: 21.94rem;
    background: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    /* margin-bottom: 1rem; */
    margin: 0 auto .88rem;
  }

  .info-item {
    margin-bottom: 0.84rem;
  }

  .info-item:last-child {
    margin-bottom: 0;
  }

  .label {
    width: 3.81rem;
    font-weight: 500;
    font-size: 0.75rem;
    color: #9F9F9F;
    flex-shrink: 0;
  }

  .value {
    font-weight: 500;
    font-size: 0.75rem;
    color: #121212;
    flex: 1;
  }

  .timeline {
    background: #fff;
    padding: 1.5rem;
    width: 23.44rem;
    margin: 0 auto;
  }

  .timeline-item {
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .timeline-item:last-child {
    margin-bottom: 0;
  }

  .timeline-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.15rem;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: #999;
  }

  .timeline-item::after {
    content: '';
    position: absolute;
    left: 0.325rem;
    top: 1.1rem;
    width: 1px;
    height: calc(100% + 0.1rem);
    background: #e5e5e5;
  }

  .timeline-item:last-child::after {
    display: none;
  }

  .timeline-item.active::before {
    background: #f23030;
  }

  .content {
    padding-left: 0.5rem;
  }

  .text {
    color: #333;
    line-height: 1.4;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
  }

  .time {
    font-size: 0.75rem;
    color: #999;
  }

  .timeline-item.active .text {
    color: #f23030;
  }