<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<{capture name="header"}>
  <link href="../app/ome/statics/ome.css" rel="stylesheet" type="text/css">
<{/capture}>


<div class="division">
<h4>操作日志:</h4>
<table border="0" cellspacing="0" class="gridlist" cellpadding="0">
    <thead>
    <tr>
        <th >操作时间</th>
        <th >操作员</th>
        <th >操作类型</th>
        <th >操作内容</th>
    </tr>
    </thead>
    <tbody>
    <{foreach from=$log item=item}>
    <tr>
        <td ><{$item.operate_time}></td>
        <td ><{$item.op_name}></td>
        <td ><{$item.operation}></td>
        <td ><{$item.memo}></td>
        </tr>
    <{/foreach}>
    </tbody>
</table>
</div>

