/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.login-container-bg {
    flex: 1;
    height: 100%;
    width: fit-content;
    position: relative;
}

.login-container-bg .bg-img {
    height: 100%;
    width: auto;
}

.login-container-bg  .login-log {
    position: absolute;
    left: 10px;
    top: 10px;
    max-width: 150px;
    max-height: 50px;
}

.login-container-content {
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container-content .login-form {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form .login-type {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.login-form .login-type span {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.65);
    line-height: 24px;
    cursor: pointer;
    padding-bottom: 6px;
    display: block;
}

.login-form .login-type span:hover {
    color: #157FE3;
}

.login-form .login-type span.login-type-active {
    color: #157FE3;
    border-bottom: 2px solid #157FE3;
}

.login-form .login-store,
.login-form .phone,
.login-form .login-account {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form .login-form-item {
    position: relative;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.login-form .login-form-item > input {
    flex: 1;
    border-right: none;
    border-left: none;
    border-top: none;
    box-shadow: none;
    border-radius: 0;
    height: 40px;
}

.login-form .login-form-item > span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    color: #888888;
}

.login-form .login-form-item .validate-code {
    width: 80px;
    height: 39px;
    cursor: pointer;
    border: 1px solid var(--input-border-color);
}

.login-form .login-submit-btn {
    height: 36px;
    width: 100%;
    color: #FFFFFF;
    background: #157FE3;
    cursor: pointer;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 2px;
    margin-top: 50px;
}

.login-form .login-submit-btn:hover {
    background: #036acc;
}

.login-form button {
    background: #FFFFFF;
    color: #157FE3;
    border: none;
    border-bottom: 1px solid var(--input-border-color);
    cursor: pointer;
}

.login-form button:hover {
    color: #0467c5;
}

.login-form .qr-code {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
