/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

@import "iconfont/iconfont.css";
@import "css/sidebar.css";
@import "css/header.css";
@import "css/table.css";
@import "css/widget.css";
@import "css/form.css";
@import "css/dialog.css";
@import "css/tabs.css";

* {
    font-family: PingFangSC-Regular, PingFang SC, 微软雅黑, serif;
    margin: 0;
    padding: 0;
}

:root {
    --sidebar-width: 0px;
}

*::-webkit-scrollbar-button {
    display: none !important;
}

*::-webkit-scrollbar-track {
    background: #f4f4f4!important;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background: #999999!important;
}

input, textarea {
    outline: none;
}
input::placeholder, textarea::placeholder {
    color: #bbbbbb;
}
.msgbox {
    visibility: unset;
    top: -50px !important;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 5px 30px;
    position: fixed !important;
    left: 45% !important;
    right: auto !important;
    max-width: 60%;
    transition: top .5s;
    will-change: transition;
}

.msgbox.default, .msgbox.warning, .msgbox.exception {
    top: 20px !important;
}

.msgbox.default {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
}

.msgbox.warning {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c;
}

.msgbox.exception {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
}

.dashbd-head {
    padding: 0;
}

.dashbd-head .dashbd-headl {
    background: #5897db;
    color: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    line-height: 31px;
}
