<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="tableform">
<h4><span><{if $aftersales.is_encrypt}><a class="order-sensitive-btn data-hide" href="javascript:void(0);"></a><{/if}><{t}>售后单详情<{/t}></span></h4>
<div class="division">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="consigneeinfo">
  <tr>
    <th><{t}>店铺名:<{/t}></th>
    <td><{$aftersales.shop_id}></td>
    <th><{t}>订单号:<{/t}></th>
    <td><{$aftersales.order_id|default:'-'}></td>
    <th><{t}>售后申请单号:<{/t}></th>
    <td><{$aftersales.return_id|default:'-'}></td>
    <th><{t}>退换货单号:<{/t}></th>
    <td><{$aftersales.reship_id|default:'-'}></td>
    <th><{t}>退款申请单号:<{/t}></th>
    <td><{$aftersales.return_apply_id|default:'-'}></td>    
  </tr>
  <tr>
    <th><{t}>补差订单号:<{/t}></th>
    <td><{$aftersales.diff_order_bn|default:'-'}></td>   
    <th><{t}>换货订单号:<{/t}></th>
    <td><{$aftersales.change_order_bn|default:'-'}></td>
    <th><{t}>售后类型:<{/t}></th>
    <td><{$aftersales.return_type}></td>
    <th><{t}>退款金额:<{/t}></th>
    <td><{$aftersales.refundmoney|cur}></td>
    <th><{t}>用户名:<{/t}></th>
    <td><span sensitive-field="member_uname"><{$aftersales.member_uname|ciphertext:'aftersale','member_uname',$aftersales.shop_type}></span></td>
  </tr>
  <tr>
    <th><{t}>手机号:<{/t}></th>
    <td><span sensitive-field="ship_mobile"><{$aftersales.ship_mobile|ciphertext:'aftersale','ship_mobile',$aftersales.shop_type}></span></td>
    <th><{t}>售后申请时间:<{/t}></th>
    <td><{if $aftersales.add_time}><{$aftersales.add_time|cdate:'FDATE_FTIME'}><{else}>-<{/if}></td>
    <th><{t}>审核时间:<{/t}></th>
    <td><{if $aftersales.check_time}><{$aftersales.check_time|cdate:'FDATE_FTIME'}><{else}>-<{/if}></td>
    <th><{t}>质检时间:<{/t}></th>
    <td><{if $aftersales.acttime}><{$aftersales.acttime|cdate:'FDATE_FTIME'}><{else}>-<{/if}></td>
    <th><{t}>退款时间:<{/t}></th>
    <td><{if $aftersales.refundtime}><{$aftersales.refundtime|cdate:'FDATE_FTIME'}><{else}>-<{/if}></td>    
  </tr>
  
    <tr>
    <th><{t}>售后单据创建时间:<{/t}></th>
    <td><{if $aftersales.aftersale_time}><{$aftersales.aftersale_time|cdate:'FDATE_FTIME'}><{else}>-<{/if}></td>
    <th><{t}>审核人:<{/t}></th>
    <td><{$aftersales.check_op_id|default:'-'}></td>
    <th><{t}>质检人:<{/t}></th>
    <td><{$aftersales.op_id|default:'-'}></td>
    <th><{t}>退款人:<{/t}></th>
    <td><{$aftersales.refund_op_id|default:'-'}></td>
  </tr>
 
  <tr>
    <td>
    </td>
  </tr>
</table>

</div>

 
<{if is_array($items) && ($items) > 0}>
  <{if is_array($items.return) && count($items.return)>0}>
  <div class="division">

      <h4><{t}>退货明细:<{/t}></h4>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
        <thead>
        <tr>
          <th><{t}>基础物料编码<{/t}></th>
          <th><{t}>基础物料名称<{/t}></th>
          <th><{t}>退入物料单价<{/t}></th>
          <th><{t}>退入申请数量<{/t}></th>
          <th><{t}>退入数量<{/t}></th>
          <th><{t}>退入良品数量<{/t}></th>
          <th><{t}>退入不良品数量<{/t}></th>
          <th><{t}>申请退款金额<{/t}></th>
          <th><{t}>已退款金额<{/t}></th>
          <th><{t}>销售金额<{/t}></th>
          <th><{t}>平台承担<{/t}></th>
          <th><{t}>结算金额<{/t}></th>
          <th><{t}>客户实付<{/t}></th>
          <th><{t}>支付优惠金额<{/t}></th>
          <th><{t}>子订单号<{/t}></th>
          <th><{t}>仓库<{/t}></th>
          <th><{t}>平台商品ID<{/t}></th>
          <th><{t}>平台SkuID<{/t}></th>
          <{foreach from=$propsTitle item=item}>
          <th><{$item.col_name}></th>
          <{/foreach}>
        </tr>
        </thead>
  <{foreach from=$items.return item=aProduct}>
    <tbody>
        <tr>
         <{assign var="total_price" value=$aProduct.price*$aProduct.num}>
         <td><{$aProduct.bn}></td>
         <td><{$aProduct.product_name}></td>
         <td><{$aProduct.price}></td>
         <td><{$aProduct.apply_num}></td>
         <td><{$aProduct.num}></td>
         <td><{$aProduct.normal_num}></td>
         <td><{$aProduct.defective_num}></td>
         <td><{$aProduct.money|default:$total_price}></td>
         <td><{$aProduct.refunded|default:'0'}></td>
         <td><{$aProduct.saleprice|default:'0'}></td>
         <td><{$aProduct.platform_amount|cur}></td>
         <td><{$aProduct.settlement_amount|cur}></td>
         <td><{$aProduct.actually_amount|cur}></td>
         <td><{$aProduct.platform_pay_amount|cur}></td>
         <td><{$aProduct.oid|default:'-'}></td>
         <td><{$aProduct.branch_id}></td>
         <td><{$aProduct.shop_goods_id}></td>
         <td><{$aProduct.shop_product_id}></td>
         <{foreach from=$propsTitle item=item}>
         <th><{$aProduct.props[$item.col_key]}></th>
         <{/foreach}>
        </tr>
    </tbody>
  <{/foreach}>
      </table>
  </div>
  <{/if}>

  <{if is_array($items.change) && count($items.change)>0}>
  <div class="division">

      <h4><{t}>换货明细:<{/t}></h4>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
        <thead>
        <tr>
          <th><{t}>基础物料编码<{/t}></th>
          <th><{t}>基础物料名称<{/t}></th>
          <th><{t}>换出物料单价<{/t}></th>          
          <th><{t}>换出数量<{/t}></th>
          <th><{t}>换出总金额<{/t}></th>
          <th><{t}>仓库<{/t}></th>
          <th><{t}>平台商品ID<{/t}></th>
          <th><{t}>平台SkuID<{/t}></th>
        </tr>
        </thead>
  <{foreach from=$items.change item=aProduct}>
    <tbody>
        <tr>
         <{assign var="total_price" value=$aProduct.price*$aProduct.num}>
         <td><{$aProduct.bn}></td>
         <td><{$aProduct.product_name}></td>
         <td><{$aProduct.price}></td>
         <td><{$aProduct.num}></td>
         <td><{$aProduct.saleprice|default:$total_price}></td>
         <td><{$aProduct.branch_id}></td>
         <td><{$aProduct.shop_goods_id}></td>
         <td><{$aProduct.shop_product_id}></td>
        </tr>
    </tbody>
  <{/foreach}>
      </table>
  </div>
  <{/if}>
 <{if is_array($items.refuse) && count($items.refuse)>0}>
  <div class="division">

      <h4><{t}>退货明细:<{/t}></h4>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
        <thead>
        <tr>
          <th><{t}>基础物料编码<{/t}></th>
          <th><{t}>基础物料名称<{/t}></th>
          <th><{t}>退入物料单价<{/t}></th>
          <th><{t}>退入数量<{/t}></th>
          <th><{t}>申请退款金额<{/t}></th>
          <th><{t}>已退款金额<{/t}></th>
          <th><{t}>销售金额<{/t}></th>
          <th><{t}>客户实付<{/t}></th>
          <th><{t}>支付优惠金额<{/t}></th>
          <th><{t}>子订单号<{/t}></th>
          <th><{t}>仓库<{/t}></th>
          <th><{t}>平台商品ID<{/t}></th>
          <th><{t}>平台SkuID<{/t}></th>
        </tr>
        </thead>
  <{foreach from=$items.refuse item=aProduct}>
    <tbody>
        <tr>
         <{assign var="total_price" value=$aProduct.price*$aProduct.num}>
         <td><{$aProduct.bn}></td>
         <td><{$aProduct.product_name}></td>
         <td><{$aProduct.price}></td>
         <td><{$aProduct.num}></td>
         <td><{$aProduct.money|default:$total_price}></td>
         <td><{$aProduct.refunded|default:$total_price}></td>
         <td><{$aProduct.saleprice|default:'0'}></td>
         <td><{$aProduct.actually_amount|cur}></td>
         <td><{$aProduct.platform_pay_amount|cur}></td>
         <td><{$aProduct.oid|default:'-'}></td>
         <td><{$aProduct.branch_id}></td>
         <td><{$aProduct.shop_goods_id}></td>
         <td><{$aProduct.shop_product_id}></td>
        </tr>
    </tbody>
  <{/foreach}>
      </table>
  </div>
  <{/if}>
<{/if}>


 </div>
<script>
    (function(){
        // 敏感数据处理
        if ($defined($E('.order-sensitive-btn')))
            $E('.order-sensitive-btn').addEvent('click',function(e){
                Ex_Loader('security',function(){
                    new Security({url:'index.php?app=sales&ctl=admin_aftersale&act=showSensitiveData&p[0]=<{$aftersales.aftersale_id}>',clickElement:$(e.target)}).desHtml($E('#consigneeinfo'));
                });
            });
    })();
</script>
