<table width="100%" cellspacing="0" cellpadding="0" border="0" >
    <tbody>
    <{foreach from=$platform_params item=item key=key}>
    <tr>
        <th ><em class="c-red">*</em><{$item}>：</th>
        <td>
            <{if $node_id }>
                <{input disabled="disabled" name="shop[config][{$key}]" vtype="required" value=$config[$key] size="32"}>
            <{else}>
                <{input name="shop[config][{$key}]" vtype="required" value=$config[$key] size="32"}>
                <{if $key=="private_key" }>&nbsp;&nbsp;<a id="private_key"><{img src="bundle/refresh.gif" app="desktop" }></a><{/if}>
            <{/if}>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>
<script type="text/javascript">
    (function(){
        if ($defined($('private_key'))) {
            $('private_key').addEvent('click',function(){
                var _this = this;
                new Request({url:'index.php?app=ome&ctl=admin_shop&act=gen_private_key',
                    onComplete:function(rs){
                        _this.getPrevious('input').set('value',rs);
                    }}).send();
            });
        };
    })();

</script>