<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<{foreach from=$dataList item=item}>
    <li class="tr">
        <div class="grid-3 td item_bn"><{$item.material_bn}></div>
        <div class="grid-7 td item_name"><div class="title" id="item_title_<{$item.bm_id}>" onclick="showTitle('<{$item.bm_id}>')"><{$item.material_name}></div></div>
        <div class="grid-1 td"><input type="text" name="store[<{$item.id}>]" id="store_<{$item.id}>" value="<{$item.store}>" class="small text-center" pattern="digital" required data-alerts="库存必填，并且只能为数字"></div>
    </li>
<{/foreach}>