<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<{capture name="header"}>
  <link href="../apps/ome/statics/ome.css" rel="stylesheet" type="text/css">       
<{/capture}>

<div class="tableform">
    <{if $shop_id}>
    <div class="division">
        <input type="hidden" name="shop_id" value="<{$shop_id}>" />
        <table>
            <tr>
                <th>是否开启AG</th>
                <td>
                    <input type="radio" name="aligenius_conf" value='1'  <{if $aligenius_conf=='1'}>checked<{/if}>> 是
                    <input type="radio" name="aligenius_conf" value='0' <{if $aligenius_conf=='0' || $aligenius_conf==''}>checked<{/if}>> 否
                    <span class="red">开启后，如果线上已支付未发货、已支付发货售后退货的退款申请单点击退款后，满足AG自动化退款设置条件的，将自动退款至客户账户</span>
                </td>
            </tr>
            <{if $shop_type == 'luban'}>
                <tr>
                    <th>退款方式</th>
                    <td>
                        <input type="radio" name="refund_aligenius_conf" value='0' <{if $refund_aligenius_conf=='0' || $refund_aligenius_conf==''}>checked<{/if}>> oms自动同意退款
                        <input type="radio" name="refund_aligenius_conf" value='1'  <{if $refund_aligenius_conf=='1'}>checked<{/if}>> 通过抖音小助手退款
                    </td>
                </tr>
            <{/if}>
        </table>
        <div class="division">
            <{button type="submit" label="保存" class="btn-secondery" id="btn_manual"}>
        </div>
    </div>
    <{else}>
        <span class="red">仅支持阿里AliGenius,、京东AG</span>
    <{/if}>

</div>

<script>

if($("btn_manual")){
    $("btn_manual").addEvent("click",function(e){
        var aligenius_conf= $E('input[name=aligenius_conf]:checked').get('value');

        var new_data = '';
        if ('<{$shop_type}>'== 'luban') {
            var refund_aligenius_conf= $E('input[name=refund_aligenius_conf]:checked').get('value');
            var new_data = '&refund_aligenius_conf='+refund_aligenius_conf;
        }


        new Request({
        url:'index.php?app=ome&ctl=admin_shop&act=aligenius',
        data:"&shop_id="+"<{$shop_id}>&aligenius_conf="+aligenius_conf+new_data,
        method:'post',
        onSuccess:function(response){
            var resp =  JSON.decode(response);
            if(resp.rsp=="fail"){
                var msg = resp.msg ? resp.msg : resp.res;
                MessageBox.error(msg);
            }else{
                MessageBox.success("保存成功");
            }
        }
      }).send();
   });
}
</script>

