<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<{capture name="header"}>
  <link href="../apps/ome/statics/ome.css" rel="stylesheet" type="text/css">       
<{/capture}>

<div class="tableform">
    <h43>仓库类型</h4>
    <div class="division">
        <form method="post" action="index.php?app=ome&ctl=admin_branchtype&act=save" id="form">      
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                     <tr>
                         <th>类型编码：</th>
                         <td>
                            <{if $types.type_id}>
                              <{$types.type_code}>
                            <{else}>
                                <input type="text" size="20" name="type_code" value="<{$types.type_code}>" vtype="required"/>
                            <{/if}>  
                         </td>
                     </tr>
                     <tr>
                         <th>类型名称：</th>
                         <td>
                              <input type="text" size="20" name="type_name" value="<{$types.type_name}>" vtype="required"/>
                              
                         </td>
                     </tr>
                     <tr>
                         <th>类型描述：</th>
                         <td>
                              <input type="text" size="20" name="type_desc" value="<{$types.type_desc}>"/>
                              
                         </td>
                     </tr>
                </tbody>
            </table>
           <input type="hidden" size="20" name="type_id" value="<{$types.type_id}>"/>
        </form>
    </div>  
</div>

<{area inject=".mainFoot"}>
<div class="table-action">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td><button class="btn btn-primary" id='submit_btn'><span><span><{t}>确定<{/t}></span></span></button></td>
      </tr>
    </tbody>
  </table>
</div>
<{/area}>
<script>
(function(){
    var _form = $('form');//表单ID 
    var btn   = $('submit_btn');//按钮ID

    var finder = finderGroup['<{$env.get.finder_id}>'];
    _form.store('target',{
        onComplete:function(){
        },
        onSuccess:function(response){
            var hash_res_obj = JSON.decode(response);
            if (hash_res_obj.success != undefined && hash_res_obj.success != ""){
                try{
                    var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                }catch(e){}

                if(_dialogIns){
                    setTimeout(finder.refresh(),30000);
                    _dialogIns.close();
                }
            }
        }
    });

    btn.addEvent('click',function(){
      _form.fireEvent('submit',{stop:$empty});
    });
})();
</script>