<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="tableform">
           <div class="division">

      <table width="100%" cellspacing="0" cellpadding="0" border="0" >

        <tbody>
       
        <tr><th>名称：</th>
          <td><{$Oper_detail.name}></td>
        </tr>
		<tr><th>管理员：</th>
          <td>
		 <{$admin_name}>
		  <td>
        </tr>
		<tr><th>说明：</th>
          <td><{$Oper_detail.description}></td>
        </tr>
        </tbody>
      </table>
	 
  </div>
    </div>