<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<form method="post" action="index.php?app=ome&ctl=admin_shop&act=saveShopBranch&finder_id=<{$env.get.finder_id}>&p[0]=<{$shop_id}>">
    <div class="tableform">
        <div class="division">
            <table  width="100%" cellspacing="0" cellpadding="0" border="0" >
                <tbody>
                    <{foreach from=$branches item=item}>
                    <tr>
                        <th>仓库名称：</th>
                        <td><{$item.name}></td>
                        <th>仓库最晚接单时间：</th>
                        <td><input class='x-input' name=branch[<{$item.branch_id}>][cutoff_time] value=<{$item.cutoff_time}> ></td> 
                        <th>仓库最晚出库时间：</th>
                        <td><input class='x-input' name="branch[<{$item.branch_id}>][latest_delivery_time]" value=<{$item.latest_delivery_time}> ></td>
                    </tr>
                    <{foreachelse}>
                    <tr>
                        <td colspan="6">店铺未配供货仓</td>
                    </tr>
                    <{/foreach}>
                </tbody>
            </table>
        </div>
    </div>
    <{if $branches}>
    <div class="table-action">
        <{button label="保存" type="submit"}>
    </div>
    <{/if}>
</form>