<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<{include file="admin/analysis/time_header.html" app="o2o"}>

<{if $detail_hidden < 1}>
<!-- detail start -->
<div class="large">
    <{include file="ome/detail.html" app="omeanalysts"}>
</div>
<!-- detail end -->
<{/if}>

<{if $analysts_options.display}>
  <div class="notice">
      <span>说明：</span> <br/>
    <p style="padding-left:15px;"><{$analysts_options.description}></p>
  </div>
<{/if}>

<{if $graph_hidden < 1}>
<!-- graph start -->
<table class="chart-view">
     <tr><td valign="top">
        <{include file="analysis/graph.html" app="eccommon"}>
    </td></tr>
</table>
<!-- graph end -->
<{/if}>

<{if $rank_html}>
<!-- rank start -->
<table class="chart-view">
     <tr>
        <td valign="top">
            <{$rank_html}>
        </td>
     </tr>
</table>
<!-- rank end -->
<{/if}>


