<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<{if $dataList}>
    <{foreach from=$dataList item=item}>
		<ul class="no-bullet">
			<li class="row">
	            <div class="grid-1" style="width: auto;">
	                <span class="text-reverse" style="width:84px">退货单号：</span><em><{$item.original_reship_bn}></em>
	            </div>
	        </li>
	        <{if $item.aftersale_bn}>
	            <li class="row">
		            <div class="grid-1" style="width: auto;">
		                <span class="text-reverse" style="width:84px">售后申请单号：</span><em><{$item.aftersale_bn}></em>
		            </div>
		        </li>
	        <{/if}>
			<li class="row">
		        <div class="grid-1" style="width: auto;">
		            <span class="text-reverse">订 单 号：</span><em><{$item.order_bn}></em>
		        </div>
		        <div class="grid-5 text-right"><{if $item.dly_info.type == 'o2o_pickup'}>门店自提<{else}>门店配送<{/if}></div>
	        </li>
	        <li class="row">
	            <div class="grid-12">
	                <span class="text-reverse">收 货 人：</span><em><{$item.ship_name}></em>&nbsp;(<{$item.ship_mobile}><{if $item.ship_tel}>/<em><{$item.ship_tel}></em><{/if}>)
	            </div>
	        </li>
			<li class="row">
	            <div class="grid-12"><span class="text-reverse">收货地址：</span><em><{$item.ship_addr}></em></div>
	            <{if $baidu_map_show}>
                <div class="grid-4 text-right">
                    <a href="javascript:;" class="show_map_but" id="show_map_id_<{$item.return_id}>" onclick="show_map('<{$item.return_id}>')" alt="<{$item.current_store_addr}>"><i class="icon-location"></i> 线路查询</a>
                </div>
                <{/if}>
	        </li>
		</ul>
		
        <ul class="no-bullet table bordered grid-table">
            <li class="tr">
                <div class="grid-3 th" style="font-size:0.75rem;">货号</div>
                <div class="grid-7 th" style="font-size:0.75rem;">退入商品名称</div>
                <div class="grid-1 th nowrap" style="font-size:0.75rem;">数量</div>
            </li>
            <{foreach from=$item.return_items_data item=data_item_return}>
	            <li class="tr">
	                <div class="grid-3 td item_bn" style="font-size:0.75rem;"><{$data_item_return.bn}></div>
	                <div class="grid-7 td item_name" style="font-size:0.75rem;"><{$data_item_return.name}></div>
	                <div class="grid-1 td" style="font-size:0.75rem;"><{$data_item_return.num}></div>
	            </li>
            <{/foreach}>
        </ul>
        <div class="text-right">共<{$item.item_num_return}>件退货商品，应退金额：<{$item.tmoney}></div>
        
        <div class="actions text-right"></div>
        
        <ul class="no-bullet table bordered grid-table">
            <li class="tr">
                <div class="grid-3 th" style="font-size:0.75rem;">货号</div>
                <div class="grid-7 th" style="font-size:0.75rem;">换出商品名称</div>
                <div class="grid-1 th nowrap" style="font-size:0.75rem;">数量</div>
            </li>
            <{foreach from=$item.change_items_data item=data_item_change}>
                <li class="tr">
                    <div class="grid-3 td item_bn" style="font-size:0.75rem;"><{$data_item_change.bn}></div>
                    <div class="grid-7 td item_name" style="font-size:0.75rem;"><{$data_item_change.name}></div>
                    <div class="grid-1 td" style="font-size:0.75rem;"><{$data_item_change.num}></div>
                </li>
            <{/foreach}>
        </ul>
        <div class="text-right">共<{$item.item_num_change}>件换出商品，商品金额：<{$item.change_money}></div>
        
        <div class="actions text-right"></div>
        
        <div class="text-right">商家补偿买家金额:<{$item.bcmoney}></div>
        <div class="text-right">折旧费用:<{$item.bmoney}></div>
        <div class="text-right">买家承担运费:<{$item.cost_freight}></div>
        <div class="text-right">买家已补款金额:<{$item.diff_money}></div>
		<{if $item.total_amount > 0}>
            <div class="text-right">需退还买家金额:<{$item.total_amount}></div>
		<{elseif $item.total_amount < 0}>
            <div class="text-right">买家需补款金额:<{$item.total_amount}></div>
		<{else}>
            <div class="text-right">无需买家补款或退还</div>
		<{/if}>
        
        <{if $item.show_button}>
            <div class="actions text-right" id="return_operate_<{$item.return_id}>">
                <a href="javascript:void(0);" class="btn small" data-modal-id="reject_modal" onclick="refuse_confirm('<{$item.return_id}>')">拒单</a>
                <a href="javascript:void(0);" class="btn small primary" data-modal-id="reject_modal_confirm" onclick="change_confirm('<{$item.return_id}>')">确认换货</a>
            </div>
        <{/if}>
    
        <br />
    
    <{/foreach}>
<{/if}>
