<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<script>
//关闭POP
$('closeBut').addEvent('click', function(event){
    this.getParent('.dialog').retrieve('instance').close();
});
</script>
<div class="tableform">
<div class="division">
<table border="0" cellspacing="0" cellpadding="0" class="gridlist">
<{if !$detail.items}>
<tr><td colspan="7">暂无记录</td></tr>
<{else}>
<thead>
      <tr>
        <th>基础物料名称</th>
        <th>基础物料编码</th>
        <th>退货数量</th>
        <th>退货价格</th>
        <th>退款金额</th>
        </tr>
        </thead>
      <{foreach from=$detail.items item=items}>
      <tbody>
      <tr>
        <td><{$items.name}></td>
        <td><{$items.bn}></td>
        <td><{$items.num}></td>
        <td><{$items.price}></td>
        <td><{$items.price*$items.num}></td>
        </tr>
        </tbody>
      <{/foreach}>
      <tr>
         <td colspan="2">合计：</td>
         <td><{$detail.total_num}></td>
         <td></td>
         <td><{$detail.total_price}></td>
      </tr>
    </table>
    <{/if}>
</div>
<table width="100%" border="0">
<thead>
<tr><td align="center">
<{button class="btn btn-primary" type="button" id="closeBut" label="关闭"}>
</td></tr>
</thead>
</table>
</div>