<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="tableform">
    <div class="division">
        <table width="100%" class="gridlist" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>物料编码</th>
                    <th>物料名称</th>
                    <th>物料类型</th>
                    <th>数量</th>
                    <th>贡献占比</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong><{$saleMaterialInfo.sales_material_bn}></strong></td>
                <td><strong><{$saleMaterialInfo.sales_material_name}></strong></td>
                <td><strong><{$saleMaterialInfo.type_name}></strong></td>
                <td>-</td>
                <td>-</td>
            </tr>

            <{foreach from=$materialList item=item}>
            <tr class="ColColorBlue">
                <td><{$item.material_bn}></td>
                <td><{$item.material_name}></td>
                <td>-</td>
                <td><{$item.number}></td>
                <td><{$item.rate}></td>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>