<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="tableform">
	<h3>所有回传状态列表</h3>
    <div class="division">
		<ul>
			<li><a href="javascript:void(0);"  onclick="new Dialog('index.php?app=omevirtualwms&ctl=admin_wms&act=show&flag=reship&t=1',{title:'退货单状态回传',width:800,height:400})">退货单状态回传</a></li>
			<li><a href="javascript:void(0);"  onclick="new Dialog('index.php?app=omevirtualwms&ctl=admin_wms&act=show&flag=stockin&t=1',{title:'入库单状态回传',width:800,height:400})">入库单状态回传</a></li>
			<li><a href="javascript:void(0);"  onclick="new Dialog('index.php?app=omevirtualwms&ctl=admin_wms&act=show&flag=stockout&t=1',{title:'出库单状态回传',width:800,height:400})">出库单状态回传</a></li>
			<li><a href="javascript:void(0);"  onclick="new Dialog('index.php?app=omevirtualwms&ctl=admin_wms&act=show&flag=delivery&t=1',{title:'发货单状态回传',width:800,height:500})">发货单状态回传</a></li>
			<li><a href="javascript:void(0);"  onclick="new Dialog('index.php?app=omevirtualwms&ctl=admin_wms&act=show&flag=inventory&t=1',{title:'盘点结果回传',width:800,height:300})">盘点结果回传</a></li>
		</ul>
	</div>
</div>