<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<{capture name="header"}>
  <link href="../apps/ome/statics/ome.css" rel="stylesheet" type="text/css">       
<{/capture}>

<div class="tableform">
    <h4>出库单明细</h4>
    <div class="division">
        <table border="0" cellspacing="0" cellpadding="0" class="gridlist">
            <thead>
                <tr>
                    <th style='text-align:left;padding-left:5px;'>采购单号</th>
                    <th style='text-align:left;padding-left:5px;'>拣货单号</th>
                    <th style='text-align:left;padding-left:5px;'>货号</th>
                    <th style='text-align:left;padding-left:5px;'>条形码</th>
                    <th style='text-align:left;padding-left:5px;'>货品名称</th>
                    <th style='text-align:left;padding-left:5px;'>尺寸</th>
                    <th style='text-align:left;padding-left:5px;'>申请数量</th>
                    <th style='text-align:left;padding-left:5px;'>实际数量</th>
                    <th style='text-align:left;padding-left:5px;'>原价</th>
                    <th style='text-align:left;padding-left:5px;'>市场价</th>
                </tr>
            </thead>
            <tbody>
                <{foreach from=$dataList item=item}>
                <tr>
                    <td style='text-align:left;padding-left:5px;'><{$item.po_bn}></td>
                    <td style='text-align:left;padding-left:5px;'><{$item.pick_no}></td>
                    <td style='text-align:left;padding-left:5px;'><{$item.bn}></td>
                    <td style='text-align:left;padding-left:5px;'><{$item.barcode}></td>
                    <td style='text-align:left;padding-left:5px;'><{$item.product_name}></td>
                    <td style='text-align:left;padding-left:5px;'><{$item.size}></td>
                    <td style='text-align:left;padding-left:5px;'><{$item.num}></td>
                    <td style='text-align:left;padding-left:5px;'><{$item.actual_num}></td>
                    <td style='text-align:left;padding-left:5px;'><{$item.price}></td>
                    <td style='text-align:left;padding-left:5px;'><{$item.market_price}></td>
                </tr>
                <{/foreach}>
            </tbody>
        </table>
    </div>
</div>