<!--
  Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
  See LICENSE file for license details.
-->

<div class="tableform">
<form id="form1" name="form1" method="post">
<div class="division">
    <table class="gridlist" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <th style="width:105px;">使用仓库地址</th>
            <td>
                <input type="checkbox" name="addon[use_branch_addr]" value="1" <{if $extend_detail.addon.use_branch_addr}>checked<{/if}>>
                <span style="color:red;margin-left:10px;"> 注：勾选此项，目前只支持提供获取顺丰运单号有效</span>
            </td>
        </tr>
    </table>
</div>
<div class="division">
<h4>发货信息</h4>
<p>
<{if $channel_detail.channel_type=='taobao' || $channel_detail.channel_type=='pdd' || $channel_detail.channel_type=='jdalpha' || $channel_detail.channel_type=='douyin' || $channel_detail.channel_type=='kuaishou'}>
<input type="button" name="ship_address" id='ship_address' value="获取店铺发货地址">  
<{/if}>
</p>
<table  class="gridlist" width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><th>名称</th><td><input type="text" id='shop_name' name="shop_name" value="<{$extend_detail.shop_name}>" size="80"></td></tr>
<tr><th>省</th><td><input type="text" id='province' name="province" value="<{$extend_detail.province}>" size="80"></td></tr>
 <tr><th>市</th><td><input type="text" id='city' name="city" value="<{$extend_detail.city}>" size="80"></td></tr>
 <tr><th>地区</th><td><input type="text" id='area' name="area" value="<{$extend_detail.area}>" size="80"></td></tr>
 <tr><th>街道</th><td><input type="text" id='street' name="street" value="<{$extend_detail.street}>" size="80"></td></tr>
 <tr><th>地址</th><td><input type="text" id='address_detail' name="address_detail" value="<{$extend_detail.address_detail}>" size="80"></td></tr>
 <tr><th>发件人</th><td><input type="text" id='default_sender' name="default_sender" value="<{$extend_detail.default_sender}>" size="80"></td></tr>
 <tr><th>电话</th><td><input type="text" id='tel' name="tel" value="<{$extend_detail.tel}>" size="80"></td></tr>
 <tr><th>手机</th><td><input type="text" id='mobile' name="mobile" value="<{$extend_detail.mobile}>" size="80"></td></tr>
 <tr><th>邮编</th><td><input type="text" id='zip' name="zip" value="<{$extend_detail.zip}>" size="80"></td></tr>
 <{if $channel_detail.channel_type=='jdalpha'}>
 <tr>
    <th>送货上门</th>
    <td>
        <input type="checkbox" name="addon[DELIVERY_TO_DOOR][value]" <{if is_array($extend_detail.addon.DELIVERY_TO_DOOR) && $extend_detail.addon.DELIVERY_TO_DOOR.value}>checked<{/if}> value="1">
    </td>
 </tr>
 <{/if}>
</table>
<br>
<{if $channel_detail.channel_type=='taobao'}>
<table  class="gridlist" width="100%" cellspacing="0" cellpadding="0" border="0">
<thead><tr><th>取消数量</th><th>可用数量</th><th>打印数量</th></tr> </thead>
 <tr><td><{$extend_detail.cancel_quantity}></td>
<td><{$extend_detail.allocated_quantity}></td>
<td><{$extend_detail.print_quantity}></td></tr>
</table>
<{/if}>
<div class="table-action">
<input id="savebtn" type="button" name="submit" value="保存地址">
</div>
<input type="hidden" name="id" value="<{$extend_detail.id}>">
<input type="hidden" name="channel_id" value="<{$channel_id}>">
</form>
</div> </div>
<script>
if ($('ship_address'))
{
    $('ship_address').addEvent('click',function(e){
var url = 'index.php?app=logisticsmanager&ctl=admin_channel&act=get_ship_address&p[0]=<{$channel_id}>&finder_id=<{$env.get.finder_id}>';
new Dialog(url,{title:'发货地址',width:500,height:300});


});
}

if ($('savebtn'))
{

$('savebtn').addEvent('click',function(e){

var _data =$('form1').toQueryString()+'&finder_id=<{$env.get.finder_id}>';
var finder_id= '<{$env.get.finder_id}>';
new Request({
            url:'index.php?app=logisticsmanager&ctl=admin_channel&act=save_address',
            data:_data,
            method:'post',
            onSuccess:function(rs){
                alert('保存成功!');
            finderGroup[finder_id].refresh.delay(400,finderGroup[finder_id]);
            }
        }).send();


});
}
</script>


