<app>
    <name>经销商</name>
    <description>经销商管理</description>

    <author>
        <name>author name</name>
        <email>author email</email>
        <url>http://author.example.com</url>
    </author>

    <version>0.1.0</version>
    <license>Mit license</license>
    <parent_model_class>dbeav_model</parent_model_class>

    <depends>
        <app>base</app>
        <app>ome</app>
        <app>material</app>
    </depends>

</app>
